.block {

}

.block__inner {
  @include grid;
}

.block__heading {
  font-size: 55px;
  margin-bottom: 25px;
  line-height: 1.1;

  @include media(mtl) {
    font-size: 50px;
  }

  @include media(mtp) {
    font-size: 44px;
  }

  @include media(msp) {
    font-size: 30px;
  }

  &--step {
    font-family: $fontText;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 20px;

    @include media(msd) {
      font-size: 38px;
    }

    @include media(mtp) {
      font-size: 28px;
    }
  }
}

.block__dscr {

  &--step {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px;

    @include media(msd) {
      font-size: 16px;
    }

    @include media(mtp) {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }

}

.block__body {
  font-size: 20px;
  margin-bottom: 100px;

  @include media(msd) {
    font-size: 18px;
    margin-bottom: 80px;
  }

  @include media(mtp) {
    font-size: 16px;
    margin-bottom: 50px;
  }

  @include media(msl) {
    font-size: 14px;
  }

  ol {
    @include listReset;
    counter-reset: num;

    li {
      &::before {
        counter-increment: num;
        content: counter(num)'. ';

      }
    }
  }
}

.block__number {
  position: absolute;
  width: 200px;
  height: 196px;
  box-sizing: border-box;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: $fontTitle;
  font-size: 72px;
  line-height: 1;
  background-image: url(../images/num.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  @include media(mtl) {
    width: 110px;
    font-size: 40px;
  }

  @include media(msl) {
    position: relative;
    top: unset !important;
    left: unset !important;
    bottom: unset !important;
    right: unset !important;
    margin-bottom: 20px;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 110%;
    height: 110%;
    transition-duration: 0.3s;
    pointer-events: none;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    animation-name: rotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
  }

  &::before {
    background-image: url(../images/circle-num-outer.png);
  }

  &::after {
    width: 98%;
    height: 98%;
    background-image: url(../images/circle-num-inner.png);
    animation-direction: reverse;
    animation-duration: 15s;

    @include media(mtl) {
      width: 85%;
      height: 85%;
    }
  }

}

.block__result {
  color: $colorStyle;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 1.3333;
  box-shadow: -2px 5px 7px 1px #000000, 0 0 158px rgba(253, 185, 0, 0.45);
  border: 3px solid #fdb900;
  padding: 11px 25px;
  text-decoration: none;
  transition-duration: 0.3s;

  @include media(msd) {
    font-size: 20px;
  }

  @include media(mtp) {
    font-size: 16px;
  }

  @include media(msl) {
    padding-left: 15px;
    padding-right: 15px;
  }

  &:hover {
    background-color: #000;
  }
}
