.buttons {
  display: flex;
  align-items: center;
  @include media(msp) {
    display: block;
  }
  & > .button {
    margin-right: 43px;
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(1n) {
      @include media(msp) {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 13px;
      }
    }
  }
}

.button {
  @include button-base;
  @include button;
}

.button--smaller {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.1em;
}