.calc {
  display: flex;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 80px;
  font-size: 18px;

  @include media(msd) {
    font-size: 14px;
    margin-bottom: 40px;
  }

  @include media(msl) {
    display: block;
  }

  p {

    &:first-child {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5px;

      @include media(msl) {
        font-size: 16px;
      }
    }

  }

  span {
    color: #fff;
  }
}

.calc__client {
  margin-right: 50px;

  @include media(mtl) {
    margin-right: 20px;
  }

  @include media(msl) {
    margin-bottom: 40px;
  }
}

.calc__we {

  @include media(msd) {
  }

  @include media(msp) {
    width: 300px;
  }

  p {
    padding-right: 200px;

    @include media(mtp) {
      padding-right: 50px;
    }
  }
}

.calc__main {
  margin-bottom: 10px;
  display: inline-block;

}



.calc__footer {
}

.calc__head {
  background-color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;

  @include media(mtp) {
    padding-left: 15px;
    padding-right: 15px;
  }

}

.calc__body {
  background-color: #201e27;
  color: #fff;
  //padding: 30px 20px 80px;
  padding: 30px 20px 40px;
  font-weight: 400;
  border: 1px solid $colorStyle;
  border-top: none;
  background-image: url(../images/grafik.png);

  @include media(mtp) {
    padding: 20px 15px 25px;
  }

  @include media(msp) {
    padding: 10px 8px 15px;
  }
}

@mixin field {
  background-color: #fff;
  width: 100px;
  color: #000;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  overflow: hidden;

  @include media(mtp) {
    width: 80px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include media(mtp) {
    width: 85px;
    margin-right: 10px;
  }

  @include media(msl) {
    width: 80px;
    margin-right: 10px;
  }

  @include media(msp) {
    width: 65px;
    margin-right: 5px;
  }

}

.calc__colName {
  @include field;
  text-align: left;
  display: flex;
  align-items: center;

  @include media(mtp) {
    font-size: 12px;
  }

  @include media(msp) {
    font-size: 10px;
  }



  &--req::before {
    content: '?';
  }

  &--order::before {
    width: 35px;
    height: 35px;
    background-image: url(../images/order.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include media(mtp) {
      width: 20px;
      height: 20px;
    }
  }

  &--price::before {
    content: '$';
  }

  &--sales::before {
    width: 30px;
    height: 30px;
    background-image: url(../images/cart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @include media(mtp) {
      width: 16px;
      height: 16px;
    }
  }

  &::before {
    content: '';
    flex-shrink: 0;
    font-family: $fontTitle;
    font-weight: 700;
    margin-right: 5px;

    @include media(msp) {
      content: none !important;
    }
  }
}

.calc__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @include media(msl) {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--text {
    font-size: 20px;
    line-height: 1;
    margin-top: -10px;
    margin-bottom: 15px;

    @include media(msl) {
      font-size: 16px;
    }

    @include media(msp) {
      margin-top: 0;
    }
  }
}

.calc__label {
  @include field;
  font-size: 14px;

  @include media(mtp) {
    font-size: 12px;
  }

  @include media(msp) {
    font-size: 10px;
  }
}

.calc__value {
  @include field;
  border: 3px solid $colorStyle;
  font-family: $fontText;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  appearance: none;

  @include media(msl) {
    font-size: 12px;
  }

  @include media(msp) {
    font-size: 10px;
  }

  &--noInput {
    border: none;
  }
}

.calc__footer {
}