.caseFull {
  margin: 50px auto;
  width: $md;
  background-color: #fff;
  overflow: hidden;
  box-shadow: $shadow-modal;
  position: relative;
  color: #fff;
  background-color: $colorBg;
  border: 2px solid $colorStyle;

  @include media(mtl) {
    width: 90%;
  }

  @include media(msp) {
    width: 100%;
  }

  .mfp-close {
    box-shadow: none;
    background-color: transparent;
  }

  &.mfp-hide {
    display: block !important;
    position: fixed;
    visibility: hidden;
  }
}

.caseFull__inner {
  padding: 50px 50px 125px;

  @include media(mtp) {
    padding: 20px 20px 80px;
  }
}

.caseFull__logo {
  margin-bottom: 40px;

  @include media(msd) {
    margin-bottom: 20px;
  }

  img {
    width: auto;
    max-width: 100%;
  }
}

.caseFull__companyName {
  font-family: $fontText;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  margin-bottom: 40px;

  @include media(msd) {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.caseFull__heading {
  font-size: 18px;
  font-weight: 600;
  font-family: $fontText;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 30px;

  @include media(msd) {
    margin-bottom: 15px;
    font-size: 14px;
  }
}

.caseFull__dscr {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 85px;
  border-left: 2px solid $colorStyle;
  padding-left: 22px;
  max-width: 32.7778em;
  position: relative;

  @include media(msd) {
    font-size: 14px;
  }

  @include media(msp) {
    font-size: 16px;
  }

  &::after {
    content: url(../images/elements/piramid.png);
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 170px);
  }

  strong {
    color: $colorStyle;
    font-weight: 600;
  }

  ul {
    @include listReset;

    li {
      padding-left: 25px;
      margin-bottom: 10px;
      position: relative;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0.5em;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
}

.caseFull__caseStats {
  margin-bottom: 70px;

  @include media(msl) {
    margin-bottom: 30px;
  }
}

.caseFull__caseAbout {
}
