.caseStats {
  display: flex;
  flex-wrap: wrap;

}

.caseStats__achievement {
  width: 300px;
  height: 155px;
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  margin-right: calc((100% - 300px * 3)/2);
  border-left: 2px solid #b7b7b7;
  box-sizing: border-box;
  padding-bottom: 6px;
  padding-left: 15px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  @include media(msd) {
    height: 140px;
    margin-bottom: 40px;
  }

  @include media(mtl) {
    width: 30%;
    margin-right: calc((100% - 30% * 3)/2);
  }

  @include media(mtp) {
    width: 45%;

    &:nth-child(1n) {
      margin-right: calc((100% - 45% * 2)/2);
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @include media(msl) {
    width: 100%;

    &:nth-child(1n) {
      margin-right: 0;
    }
  }
}

.caseStats__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.1em;
  margin-bottom: auto;

  @include media(msd) {
    font-size: 16px;
  }
}

.caseStats__row {
  margin-bottom: 20px;

  @include media(msd) {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--result {
    .caseStats__barWrp {
      background-color: $colorStyle;
    }
    
    .caseStats__text {
      color: #000;
    }

    .caseStats__text--noBars {
      color: $colorStyle;
    }

  }
}

.caseStats__label {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 5px;
}

.caseStats__barWrp {
  position: relative;
}

.caseStats__text {
  position: absolute;
  font-size: 14px;
  margin-bottom: 5px;
  padding-left: 10px;
  white-space: nowrap;
  margin-left: 0;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);

  @include media(mtl) {
    font-size: 10px;
  }

  @include media(mtp) {
    font-size: 12px;
  }

  &--noBars {
    position: static;
    padding-left: 0;
    margin-top: 10px;
    transform: none;
    white-space: normal;
  }
}

.caseStats__bar {
  width: 0%;
  height: 15px;
  background-color: hsl(0, 0%, 100%);
  font-size: 0;
  color: transparent;
  transition-duration: 0.5s;
  transition-delay: 0.2s;

  @include media(mtl) {
    height: 15px;
  }
}