.caseAbout {
  display: flex;
  justify-content: space-between;

  @include media(msl) {
    flex-direction: column-reverse;
  }
}

.caseAbout__col {
  width: 50%;
  flex-shrink: 0;

  @include media(msl) {
    width: auto;
  }

  &--info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media(msl) {
      display: block;
    }
  }
}

.caseAbout__chief {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6667;
  padding-right: 30px;
  border-right: 2px solid $colorStyle;

  @include media(msd) {
    font-size: 16px;
  }

  @include media(mtl) {
    font-size: 14px;
    padding-right: 20px;
  }

  @include media(msl) {
    border-right: 0;
    padding-right: 0;
    padding-top: 30px;
    border-top: 2px solid $colorStyle;
    margin-bottom: 40px;
  }

  @include media(msp) {
    display: block;
  }
}

.caseAbout__photo {
  flex-shrink: 0;
  margin-right: 50px;

  @include media(mtl) {
    margin-right: 20px;
  }

  @include media(msp) {
    margin-bottom: 20px;
  }

  img {
    @include media(msp) {
      width: auto;
      max-width: 100%;
    }
  }
}

.caseAbout__chiefText {
}

.caseAbout__name {
  margin-bottom: 40px;

  @include media(msp) {
    margin-bottom: 20px;
  }
}

.caseAbout__post {
}

.caseAbout__btnWrp {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;

  @include media(msl) {
    margin-right: 0;
    text-align: right;
  }
}

.caseAbout__btnText {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-align: right;
  margin-bottom: 35px;

  @include media(msd) {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.caseAbout__button {
  font-size: 48px;
  position: relative;
  min-width: 7.917778em;
  text-align: center;

  @include media(msd) {
    font-size: 30px;
  }

  &::before {
    content: url(../images/elements/racket.png);
    display: block;
    position: absolute;
    top: -75px;
    left: -40px;

    @include media(msl) {
      transform: scale(0.6);
    }
  }
}

.caseAbout__body {
  padding-left: 25px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6667;

  @include media(msd) {
    font-size: 16px;
  }

  @include media(msl) {
    padding-left: 0;
    margin-bottom: 30px;
  }

  @include media(msp) {
    font-size: 14px;
  }
}
