.cases {
}

.cases__inner {
}

.cases__arrows {
}

.cases__arrow {
}

.cases__slider {
}

.cases__footer {
  text-align: center;
  background-color: $colorStyle;
  color: $colorTitle;
  padding-top: 24px;
  padding-bottom: 15px;
}