.clientsStream {
  padding-top: 360px;
  padding-bottom: 260px;
  background-color: hsl(30, 25%, 98%);
  background-image: url(../images/bg/stream.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include media(msd) {
    padding-top: 190px;
    padding-bottom: 190px;
  }

  @include media(msl) {
    padding-top: 80px;
    padding-bottom: 70px;
  }
}

.clientsStream__inner {
  position: relative;

  &::before {
    content: url(../images/elements/marcel_pazle.png);
    display: block;
    position: absolute;
    pointer-events: none;
    top: -290px;
    left: -40px;

    @include media(msd) {
      transform: scale(0.7);
    }

    @include media(mtl) {
      left: -140px;
    }

    @include media(mtp) {
      transform: scale(0.5);
    }

    @include media(msl) {
      transform: scale(0.3);
      top: -320px;
      left: -290px;
    }
  }
}

.clientsStream__content {
  width: 480px;
  margin-left: auto;

  @include media(mtp) {
    width: 360px;
  }

  @include media(msl) {
    width: 310px;
  }

  @include media(msp) {
    width: auto;
  }
}

.clientsStream__body {
  font-size: 30px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.6;
  position: relative;
  margin-bottom: 100px;

  @include media(mtp) {
    font-size: 20px;
    margin-bottom: 50px;
  }

  @include media(msp) {
    margin-left: 120px;
    font-size: 16px;
    margin-bottom: 100px;
  }

  &::before {
    content: url(../images/elements/quote-2.png);
    display: block;
    position: absolute;
    top: -70px;
    left: -50px;

    @include media(msl) {
      transform: scale(0.6);
      top: -50px;
    }
  }
}

.clientsStream__button {
  color: #000;
  border-color: #000;
  text-shadow: $text-shadow-black;
  letter-spacing: 0.04em;

  @include media(mtp) {
    font-size: 30px;
  }
}


