.control {
  padding-top: 115px;
  padding-bottom: 100px;
  color: #fff;

  @include media(msl) {
    padding-top: 25px;
    padding-bottom: 40px;
  }
}

.control__inner {
  position: relative;
  z-index: 1;

  &::after {
    content: url(../images/elements/radar-1.png);
    display: block;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    right: -30px;
    top: 100px;

    @include media(msd) {
      top: -30px;
    }

    @include media(mtp) {
      transform: scale(0.6);
      right: -130px;
      top: -140px;
    }

    @include media(msl) {
      transform: scale(0.4);
      right: -170px;
      top: -170px
    }

    @include media(msp) {
      right: -220px;
      top: 10px;
    }
  }
}

.control__number {
  bottom: -20px;
  right: 0;

  @include media(mtp) {
    bottom: 40px;
    right: 50px;
  }
}

.control__heading {
  color: $colorStyle;
  max-width: 16em;
  margin-bottom: 50px;

  @include media(msd) {
    max-width: 18em;
    margin-bottom: 30px;
  }

  @include media(mtp) {
    margin-bottom: 30px;
  }
}

.control__dscr {
  max-width: 21em;
  margin-bottom: 60px;

  @include media(msd) {
    margin-bottom: 30px;
  }

  @include media(mtp) {
    margin-bottom: 30px;
  }
}

.control__body {
  max-width: 32em;

  @include media(msd) {
    margin-bottom: 30px;
  }
}

.control__result {
  max-width: 18.6667em;
}
