.correct {
  padding-top: 100px;
  padding-bottom: 150px;
  color: #fff;
  background-image: url(../images/bg/back_03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;

  @include media(mtp) {
    padding-top: 50px;
    padding-bottom: 90px;
  }

  @include media(msl) {
    padding-top: 0;
    overflow: hidden;
  }

  &::before {
    content: url(../images/elements/scratch.png);
    display: block;
    position: absolute;
    pointer-events: none;
    top: 50px;
    left: calc((100% - #{$md})/2 - 330px);

    @include media(msd) {
      display: none;
    }
  }

  &::after {
    content: url(../images/elements/binoculars.png);
    display: block;
    position: absolute;
    pointer-events: none;
    top: -110px;
    left: calc((100% - #{$md})/2 + #{$md} + 10px);
    z-index: 2;

    @include media(msd) {
      top: 0;
      left: calc((100% - #{$md}) / 2 + #{$md} - 560px);
      transform: scale(0.7);
    }

    @include media(msl) {
      display: none;
    }
  }
}

.correct__inner {
  position: relative;
  z-index: 1;



  &::after {
    content: url('../images/elements/num-3-bg.png');
    display: block;
    position: absolute;
    top: 60px;
    right: -380px;
    z-index: -2;

    @include media(msd) {
      transform: scale(0.7);
      right: -180px;
    }

    @include media(msl) {
      transform: scale(0.6);
      top: -140px;
      right: -220px;
    }
  }
}

.correct__number {
  top: 200px;
  left: calc((100% - #{$md})/2 + #{$md} - 140px);
  z-index: -1;

  @include media(msd) {
    left: calc((100% - #{$md})/2 + #{$md} - 320px);
  }

  @include media(mtl) {
    left: unset;
    right: 170px;
  }

  @include media(msl) {
    margin-left: auto;
    margin-right: 100px;
    margin-bottom: -50px;
  }

  @include media(msp) {
  }
}

.correct__heading {
  color: $colorStyle;
}

.correct__dscr {
  max-width: 34em;

  @include media(msl) {
    padding-right: 170px;
  }

  @include media(msp) {
    padding-right: 60px;
  }
}

.correct__body {
  max-width: 40em;
}

.correct__result {
  max-width: 27em;
}
