.crm {
  padding-top: 130px;
  padding-bottom: 120px;
  color: #fff;
  background-image: url(../images/bg/back.jpg);
  background-size: cover;
  background-position: center;

  @include media(mtp) {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.crm__inner {
  position: relative;
  z-index: 1;

  &::after {
    content: url(../images/elements/amo.png);
    display: block;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: 10px;
    left: calc((100% - #{$md})/2 + #{$md} - 510px);

    @include media(mtp) {
      transform: scale(0.6);
      left: unset;
      top: -150px;
      right: -140px;
    }

    @include media(msl) {
      transform: scale(0.4);
      top: -160px;
      right: -200px;
    }

    @include media(msp) {
      transform: scale(0.4);
      top: -120px;
    }
  }
}

.crm__number {
  bottom: -60px;
  right: 20px;

  @include media(mtp) {
    bottom: 130px;
  }
}

.crm__heading {
  color: $colorStyle;
  margin-bottom: 35px;
}

.crm__dscr {
  max-width: 30em;
  margin-bottom: 70px;

  @include media(msd) {
    margin-bottom: 40px;
  }
}

.crm__body {
  max-width: 32em;
}

.crm__result {
  max-width: 20.3333em;
  padding-left: 15px;
  padding-right: 15px;
}
