.emailAndSms {
  padding-top: 125px;
  padding-bottom: 175px;
  color: #fff;
  background-image: url(../images/bg/back10.jpg);
  background-size: cover;
  background-position: center;

  @include media(mtp) {
    padding-top: 60px;
    padding-bottom: 85px;
    overflow: hidden;
  }
}

.emailAndSms__inner {
  position: relative;
  z-index: 1;

  &::before {
    content: url('../images/elements/mesage.png');
    display: block;
    pointer-events: none;
    position: absolute;
    top: -10px;
    left: -140px;
    z-index: -1;

    @include media(mtp) {
      transform: scale(0.6);
      top: -160px;
      left: -250px;
    }

    @include media(msl) {
      transform: scale(0.4);
      left: unset;
      top: -120px;
      right: -300px;
    }

    @include media(msp) {
      opacity: 0.7;
    }
  }
}

.emailAndSms__number {
  top: -10px;
  left: 30px;
}

.emailAndSms__heading {
  color: $colorStyle;
  margin-bottom: 50px;

  @include media(msl) {
    margin-bottom: 20px;
  }

  @include media(msp) {
    font-size: 22px;
  }
}

.emailAndSms__content {
  margin-left: 545px;

  @include media(msd) {
    margin-left: 280px;
  }

  @include media(msl) {
    margin-left: 0;
  }
}

.emailAndSms__dscr {
  max-width: 23em;
  margin-bottom: 60px;

  @include media(msl) {
    margin-bottom: 20px;
  }
}

.emailAndSms__body {
}

.emailAndSms__result {
  width: 15.333em;
}
