
// Open Sans
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-Bold.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/open-sans/OpenSans-Light.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-Light.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
    url('../fonts/open-sans/OpenSans-LightItalic.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-LightItalic.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Russo One';
    src: local('Russo One'), local('RussoOne-Regular'),
    url('../fonts/open-sans/RussoOne-Regular.woff2') format('woff2'),
    url('../fonts/open-sans/RussoOne-Regular.woff') format('woff'),
    url('../fonts/open-sans/RussoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/open-sans/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
    url('../fonts/open-sans/OpenSans-ExtraBold.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-ExtraBold.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
    url('../fonts/open-sans/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-SemiBoldItalic.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../fonts/open-sans/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-Italic.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-Regular.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
    url('../fonts/open-sans/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-ExtraBoldItalic.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
    url('../fonts/open-sans/OpenSans-BoldItalic.woff2') format('woff2'),
    url('../fonts/open-sans/OpenSans-BoldItalic.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}




// Russo One

@font-face {
    font-family: 'Russo One';
    src: local('Russo One'), local('RussoOne-Regular'),
    url('../fonts/russo-one/RussoOne-Regular.woff2') format('woff2'),
    url('../fonts/russo-one/RussoOne-Regular.woff') format('woff'),
    url('../fonts/russo-one/RussoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



