.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: $colorStyle;
  font-size: 18px;

  @include media(mtp) {
    font-size: 16px;
  }

  @include media(msl) {
    font-size: 14px;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;

  @include media(msp) {
    display: block;
    text-align: center;
  }
}

.footer__copyright {
  @include media(msp) {
    margin-bottom: 10px;
  }
}

.footer__policy {
  color: inherit;
  text-decoration: none;

  @include media(msp) {
    margin-bottom: 10px;
  }

  &:hover {
    text-decoration: underline;
  }
}

.footer__phone {
}
