@mixin checkboxIcon {
  content: '';
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.form {

  &--modal {

    .form__main,
    .form__weaknesses {
      padding-top: 20px;

      &::after {
        content: none;
      }
    }

    .form__subtitle {
      margin-bottom: 30px;
    }

    .form__item {
      margin-bottom: 22px;

      &--checkbox {
        margin-bottom: 13px;
      }
    }

    .form__button {
      text-align: center;
      font-size: 25px;

      @include media(msp) {
        font-size: 20px;
      }
    }
  }

  &--questionList {
    display: flex;
    justify-content: space-between;

    @include media(msl) {
      display: block;
    }
  }
}

.form__weaknesses {
  position: relative;
  z-index: 1;

  &::after {
    content: url(../images/elements/chek_list.png);
    display: block;
    position: absolute;
    pointer-events: none;
    bottom: -20px;
    left: 170px;
    z-index: -1;

    @include media(mtl) {
      bottom: -250px;
      left: 40px;
    }
  }
}

.form__listTitle {
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 38px;
  max-width: 20em;
  font-weight: 400;
  font-family: $fontText;

  @include media(msd) {
    font-size: 24px;
    margin-bottom: 25px;
  }

  @include media(mtl) {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .dyed {
    color: $colorStyle;
    font-weight: 700;
  }
}

.form__checkbox {
  display: none;

  & + .form__label {
    padding-left: 30px;
    position: relative;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 0;
    color: #000;
    cursor: pointer;

    @include media(msd) {
      font-size: 16px;
    }

    @include media(mtl) {
      font-size: 16px;
    }

    @include media(mtp) {
      font-size: 14px;
    }

    &::before {
      @include checkboxIcon;
      background-image: url(../images/checkbox.png);
     
    }

    &::after {
      @include checkboxIcon;
      background-image: url(../images/checkbox-checked.png);
      top: -2px;
      left: 3px;
      opacity: 0;
      transition-duration: 0.3s;
    }
  }
  
  &:checked + .form__label::after {
    opacity: 1;
  }
}

.form__main {
  position: relative;
  z-index: 1;
  width: 500px;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 25px 50px 50px 50px;
  box-shadow: $shadow;
  background-color: #201e27;

  @include media(mtp) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include media(msl) {
    width: auto;
  }

  @include media(msp) {
    width: auto;
    box-shadow: none;
    margin-top: 40px;
  }
}

.form__title {
  font-size: 30px;
  line-height: 1.3;
  margin-bottom: 25px;
  font-weight: 700;
  color: #fff;
  font-family: $fontText;

  @include media(msd) {
    font-size: 24px;
    margin-bottom: 10px;
  }

  span {
    color: #fdb900;
  }

}

.form__subtitle {
  font-family: $fontItalic;
  font-style: italic;
  font-size: 23px;
  margin-bottom: 20px;

  @include media(mtl) {
    margin-bottom: 10px;
  }
}

.form__item {
  margin-bottom: 30px;

  @include media(msd) {
    margin-bottom: 15px;
  }

  @include media(mtl) {
    margin-bottom: 13px;
  }

  @include media(msp) {
    margin-bottom: 10px;
  }

  &--checkbox {
    margin-bottom: 12px;
    margin-left: 20px;

    @include media(mtl) {
      margin-bottom: 10px;
    }

    @include media(msl) {
      margin-left: 0;
    }
  }
}

.form__actions {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.form__input {
  display: block;
  width: 100%;
  border: 2px solid $colorStyle;
  background-color: hsl(0, 0%, 100%);
  line-height: 1;
  color: $colorText;
  font-size: 20px;
  padding: 11px 23px;
  box-sizing: border-box;
  font-weight: 500;

  @include media(msp) {
    font-size: 14px;
    padding: 11px 10px;
  }

  &::placeholder {
    color: hsla(0, 0%, 8%, 0.2);
  }
}

.form__label {
  line-height: 1;
  margin-bottom: 11px;
  display: block;
  font-size: 19px;
  font-weight: 600;
  color: #fff;

  @include media(msd) {
    font-size: 16px;
  }

  @include media(mtl) {
    margin-bottom: 5px;
  }

  @include media(msp) {
    font-size: 14px;
  }
}

.form__button {
  margin-top: 55px;
  font-size: 39px;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: transparent;
  padding: 15px 10px;

  @include media(msd) {
    margin-top: 20px;
    font-size: 30px;
  }

  @include media(mtp) {
    font-size: 20px;
  }
}

.form__submit {
  @include media(msp) {
    font-size: 18px;
  }
  span {
    padding: 25px 52px;
    @include media(msp) {
      padding: 20px 33px;
    }
  }
}

.form__text {
  text-align: center;
  font-size: 14px;
  color: hsl(0, 0%, 53%);
  @include media(msp) {
    font-size: 12px;
  }
  a {
    color: inherit;
    text-decoration-color: hsla(0, 0%, 53%, 0.3);
    &:hover {
      text-decoration: none;
    }
  }
}
