.goals {
  padding-top: 90px;
  padding-bottom: 260px;
  color: #fff;

  background: url(../images/bg/vystrel_left.png) calc((100% - #{$md}) / 2) 140px no-repeat,
  url(../images/bg/vystrel_right.png) calc((100% - #{$md}) / 2 + #{$md}) 140px no-repeat,
  //url(../images/bg/gilzy-strea.png) calc((100% - #{$md}) / 2 + #{$md} + 120px) 550px no-repeat,
  url(../images/bg/gun.png) calc((100% - #{$md}) / 2 - 150px) 720px no-repeat;

  @include media(msd) {
    padding-top: 70px;
    padding-bottom: 100px;
    background: url(../images/bg/vystrel_left.png) calc((100% - #{$md}) / 2) 140px no-repeat,
    url(../images/bg/vystrel_right.png) calc((100% - #{$md}) / 2 + #{$md}) 140px no-repeat,
    //url(../images/bg/gilzy-strea.png) calc((100% - #{$md}) / 2 + #{$md} - 80px) 250px no-repeat,
    url(../images/bg/gun.png) calc((100% - #{$md}) / 2 + 40px) 500px / 270px no-repeat;
  }

  @include media(mtl) {
    background: url(../images/bg/vystrel_left.png) -190px 80px/500px auto no-repeat,
    url(../images/bg/vystrel_right.png) calc(100% + 190px) 70px/500px auto no-repeat;
  }

  @include media(msl) {
    padding-top: 30px;
    background-image: none;

  }
}

.goals__inner {
  position: relative;
}

.goals__heading {
  font-size: 48px;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: $fontText;
  max-width: 22em;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 530px;
  position: relative;
  z-index: 1;

  @include headingResp;

  @include media(msd) {
    font-size: 42px;
    margin-bottom: 270px;
  }

  @include media(mtl) {
    font-size: 32px;
    text-shadow: 1px 2px 4px #232323;
    margin-bottom: 20px;
  }

  @include media(msl) {
    font-size: 20px;
  }

  span {
    font-weight: 600;
    color: $colorStyle;
  }

  &::after {
    content: url(../images/bg/target.png);
    display: block;
    position: absolute;
    pointer-events: none;
    top: -40px;
    right: 40px;
    z-index: -1;

    @include media(msd) {
      top: -160px;
      right: -70px;
      transform: scale(0.6);
    }

    @include media(msl) {
      top: -120px;
      right: -140px;
      transform: scale(0.5);
    }
  }

}

.goals__main {
  text-align: center;
  margin-bottom: 290px;
  position: relative;
  z-index: 1;

  @include media(mtl) {
    margin-bottom: 0;
  }
}

.goals__body {
  font-size: 30px;
  line-height: 1.6;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 17em;
  margin-bottom: 140px;

  @include media(msd) {
    font-size: 18px;
    margin-bottom: 20px;
  }

  @include media(mtl) {
    font-size: 22px;
    max-width: 27em;
  }

  @include media(msl) {
    font-size: 16px;
  }
}

.goals__button {
  margin-right: auto;
  margin-left: auto;

  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0;

  @include media(msd) {
    font-size: 20px;
  }

  @include media(mtl) {
    display: none;
  }
}

.goals__list {
  @include listReset;

  @include media(mtl) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.goals__num {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.02111em;
  margin-right: 25px;
  position: relative;
  color: #000;
  z-index: 1;
  line-height: 1;

  @include media(mtl) {
    display: none;
  }

  &::before {
    content: url('../images/num-goals.png');
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.goals__title {
  color: $colorStyle;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  line-height: 1.1;

  @include media(msd) {
    font-size: 16px;
  }

  @include media(mtl) {
    width: auto !important;
  }

  @include media(msp) {
    font-size: 12px;
  }
}

.goals__item {
  position: absolute;

  @include media(mtl) {
    position: static;
    margin: 0 40px 20px;
  }

  @include media(msl) {
    margin: 0 30px 10px;
  }

  @include media(msp) {
    margin-left: 0;
    margin-right: 40px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &:nth-child(1) {
    top: -370px;
    left: 230px;

    @include media(msd) {
      top: -220px;
      left: 260px;
    }

    @include media(mtl) {

    }
  }

  &:nth-child(2) {
    top: -450px;
    left: 480px;

    @include media(msd) {
      top: -220px;
    }
  }

  &:nth-child(3) {
    top: -300px;
    left: 780px;

    @include media(msd) {
      top: -180px;
      left: 730px;
    }
  }

  &:nth-child(4) {
    top: -60px;
    left: 950px;

    @include media(msd) {
      left: 890px;
    }
  }

  &:nth-child(5) {
    top: 190px;
    left: 920px;

    @include media(msd) {
      top: 100px;
      left: 880px;
    }
  }

  &:nth-child(6) {
    top: 390px;
    left: 800px;

    @include media(msd) {
      top: 180px;
      left: 710px;

      .goals__title {
        width: 80px;
      }
    }
  }

  &:nth-child(7) {
    top: 530px;
    left: 500px;

    .goals__title {
      max-width: 7em;
    }

    @include media(msd) {
      top: 200px;
    }

  }

  &:nth-child(8) {
    top: 360px;
    left: 220px;

    @include media(msd) {
      top: 180px;
      left: 270px;
    }
  }

  &:nth-child(9) {
    top: 150px;
    left: 40px;

    .goals__title {
      max-width: 7em;
    }

    @include media(msd) {
      top: 120px;
      left: 140px;
    }

  }

  &:nth-child(10) {
    top: -130px;
    left: 50px;

    @include media(msd) {
      top: -70px;
      left: 100px;
    }
  }
}

.goals__text {
  display: flex;
  align-items: center;
  text-align: center;

  @include media(mtl) {
    display: block;
  }
}

.goals__image {
  @at-root .goals--target .goals__item:hover {
    .goals__image {
      animation-name: target;
    }
  }

  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;

  @include media(msd) {
    width: 140px;
    margin-right: auto;
    margin-left: auto;
  }

  @include media(mtl) {
    height: 150px;
    margin-left: 0;
    display: flex;
    align-items: flex-end;
    margin-bottom: -10px;
  }

  @include media(msp) {
    width: 100px;
    height: 100px;
    margin-left: auto;
  }

  img {
    width: auto;
    max-width: 100%;
  }
}

.goals__aim {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1068px;
  height: 1068px;
  background-image: url(../images/bg/aim.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include media(msd) {
    width: 860px;
    height: 860px;
  }

  @include media(mtl) {
    width: 700px;
    height: 700px;
  }
}

// parallax

.goals__prlx {
  position: absolute;

  @include media(mtl) {
    display: none;
  }
}

.goals__prlx--1 {
  top: 460px;
  right: -250px;

  @include media(msd) {
    right: -250px + 210px;
  }
}

.goals__prlx--2 {
  top: 650px;
  right: -160px;

  @include media(msd) {
    right: -160px + 210px;
  }
}

.goals__prlx--3 {
  top: 970px;
  right: -270px;

  @include media(msd) {
    right: -270px + 210px;
  }
}

.goals__prlx--4 {
  top: 1270px;
  right: -60px;

  @include media(msd) {
    right: -60px + 210px;
  }
}