@include cardWithShadows('.modal', '.modal__inner');

.modal {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 29px 35px 50px 43px;
  box-shadow: 0 16px 84px hsla(36, 63%, 6%, 0.05);
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  position: relative;
  z-index: 3;

  @include media(msp) {
    padding: 30px 25px 30px;
  }

  &--teammate {
    padding: 0;
    max-width: 400px;
    background-color: transparent;

    .mfp-close {
      top: unset;
      right: unset;
      left: 100%;
      bottom: 100%;
      //background-image: url(../images/closer@white.png);
      background-image: url(../images/close.png);
      background-size: 22px;
      opacity: 1;
      box-shadow: none;

      @include media(msp) {
        left: unset;
        right: -15px;
        bottom: calc(100% + 10px);
      }

    }
  }
}

.modal__inner {
  position: relative;
  padding: 70px 95px 75px;
  @include media(msp) {
    padding: 50px 25px 45px;
  }
  &::before {
    //content: '';
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border-radius: 20px;
    border: 4px solid $colorStyle;
    pointer-events: none;
    @include media(msp) {
      top: 5px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      border-width: 2px;
    }
  }
}

.modal__heading {
  text-align: left;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 10px;

  @include media(msp) {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.modal__dscr {
  font-family: $fontItalic;
  font-style: italic;
  font-size: 23px;

  @include media(msp) {
    font-size: 15px;
  }
}

.modal__placeAndDate {
  color: $colorStyle;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;

  @include media(msp) {
    font-size: 14px;
  }
}

.modal__body {
  font-size: 14px;

  @include media(msp) {
    font-size: 12px;
  }

  p {
    margin-bottom: 25px;
    text-align: center;
    font-size: 18px;

    &:last-child {
      margin-bottom: 0;
      line-height: 1.2;
      padding: 0 10px;
      opacity: 0.7;
    }
  }


  ul {
    padding-left: 0;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include media(mtp) {
      margin-bottom: 10px;
    }

    li {
      flex-basis: 46%;
      list-style-type: none;
      position: relative;
      padding-left: 20px;
      margin-bottom: 20px;
      box-sizing: border-box;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 10px;
        left: 0;
        width: 15px;
        height: 2px;
        background-color: $colorStyle;
      }

    }
  }
}

.modal__btnWrp {
  margin-top: 30px;
  text-align: center;
}

.modal__button {}

// переопределение стилей плагина модального окна
button.mfp-close {
  //transform: translate(0px, 40px);
  font-size: 0;
  color: transparent;
  line-height: 0;
  background-image: url(../images/close.png);
  background-size: 37px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;

  @include media(msp) {
    transform: translate(-5px, 3px);
    background-size: 50%;
  }

  &:hover {
    opacity: 0.6;
  }
}

.caseFull button.mfp-close {
  top: 46px;
  right: 46px;

  @include media(msl) {
    top: 16px;
    right: 16px;
  }
}