.partners {
  padding-top: 70px;
  padding-bottom: 70px;
  color: #fff;
  background-color: $colorBg;
  position: relative;
  z-index: 1;

  @include media(msl) {
    padding-top: 40px;
  }

  &::after {
    //content: url(../images/bg/gilzy.png);
    display: block;
    pointer-events: none;
    position: absolute;
    z-index: -1;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);

    @include media(mtl) {
      content: url(../images/bg/gilzy.png);
      width: 100%;
    }
  }
}

.partners__inner {
}

.partners__heading {
  font-family: $fontText;
  font-weight: 300;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 20em;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  margin-bottom: 20px;

  @include media(mtp) {
    font-size: 40px;
  }

  @include media(msl) {
    font-size: 30px;
  }

  strong {
    font-weight: 600;
    color: $colorStyle;
  }

  &::after {
    content: '';
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 2px;
    width: 190px;
    background-color: #fff;
    margin-top: 15px;
  }
}

.partners__dscr {
  text-align: center;
  font-size: 30px;
  line-height: 1.3333;
  margin-bottom: 65px;
  max-width: 35em;
  margin-right: auto;
  margin-left: auto;

  @include media(mtl) {
    font-size: 24px;
  }

  @include media(mtp) {
    font-size: 20px;
    margin-bottom: 40px;
  }

  @include media(msl) {
    font-size: 18px;
  }
}

.partners__list {
  @include listReset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media(mtp) {
    max-width: 630px;
    margin-right: auto;
    margin-left: auto;
  }

  @include media(msp) {
    width: 390px;
    position: relative;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
    margin-top: -50px;
    margin-bottom: -60px;
  }
}

.partners__item {
  width: 193px;
  box-sizing: border-box;
  padding: 31px 30px 7px;
  position: relative;
  height: 207px;
  z-index: 1;
  box-shadow: $shadow;
  background-image: url(../images/vympel.png);
  background-repeat: no-repeat;
  background-position: center;

  @include media(mtl) {
  }

  @include media(mtp) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include media(msl) {
  }

  &:nth-child(3) {
    .partners__title {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 30px;
    }
  }

  &:nth-child(4) {
    .partners__title {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 30px;
    }
  }

  &:nth-child(6) {
    .partners__title {
      margin-bottom: 20px;
    }
  }
}

.partners__title {
  font-size: 14px;
  margin-bottom: 25px;
  position: relative;
  color: #000;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    margin-right: auto;
    margin-left: auto;
    height: 1px;
    background-color: #ff2400;
    width: 110px;
  }
}

.partners__image {

  img {
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }
}


// parallax

.partners__prlx {
  position: absolute;

  @include media(mtl) {
    display: none;
  }
}

.partners__prlx--1 {
  top: 440px;
  left: 0;
}

.partners__prlx--2 {
  top: 10px;
  left: 160px;
}

.partners__prlx--3 {
  top: -50px;
  left: 870px;
}

.partners__prlx--4 {
  top: -10px;
  left: 1090px;
}

.partners__prlx--5 {
  top: 260px;
  right: 700px;
}

.partners__prlx--6 {
  top: 20px;
  right: 360px;
}

.partners__prlx--7 {
  top: 390px;
  right: 0;
}