.questionsList {
  padding-top: 90px;
  padding-bottom: 120px;
  background-color: #fff;
  overflow: hidden;

  @include media(mtp) {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

.questionsList__inner {
}

.questionsList__body {
}

.questionsList__form {
}


