.research {
  padding-top: 100px;
  padding-bottom: 115px;
  background-image: url(../images/elements/spaser.png);
  background-size: auto 100%;
  background-position: calc((100% - #{$md})/2 - 20px) center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;

  @include media(msd) {
    padding-top: 40px;
    padding-bottom: 65px;
    background-position: calc((100% - #{$md})/2 + 80px) center;
  }

  @include media(mtl) {
    background-image: none;
  }
}

.research__inner {
  position: relative;
  z-index: 1;
}

.research__number {
  bottom: 65px;
  right: -200px;
  z-index: 2;

  @include media(msd) {
    bottom: -5px;
    right: -70px;
  }

  @include media(mtl) {
    bottom: 25px;
    right: 20px;
  }
}

.research__heading {
}

.research__content {
  margin-left: 280px;

  @include media(mtl) {
    margin-left: 0;
  }

  @include media(msl) {
    margin-right: 170px;
  }

  @include media(msp) {
    margin-right: 0;
  }
}

.research__dscr {
  max-width: 23em;

  @include media(msd) {
    max-width: 33em;
    margin-bottom: 30px;
  }

  @include media(msp) {
    padding-right: 120px;
  }
}

.research__image {
  position: absolute;
  z-index: -1;
  right: -130px;
  top: 70px;

  @include media(msd) {
    right: -90px;
    top: -30px;
  }

  @include media(mtp) {
    width: 300px;
    right: 10px;
    top: -20px;
  }

  @include media(msl) {
    right: -60px;
    top: 110px;
  }

  @include media(msp) {
    width: 220px;
    right: -80px;
    top: 80px;
  }

}

.research__body {
  max-width: 27em;
  margin-bottom: 80px;

  @include media(msd) {
    margin-bottom: 60px;
  }
}

.research__result {
  width: 18.5em;
}
