.roistat {
  padding-top: 85px;
  padding-bottom: 90px;
  background-color: $colorStyle;
  position: relative;
  background-image: url(../images/elements/robot.png), url(../images/bg/bg-roistat.jpg);
  background-size: auto, cover;
  background-position: calc((100% - #{$md})/2 + #{$md} - 70px) 100%, center;
  background-repeat: no-repeat, no-repeat;

  @include media(msd) {
    padding-top: 25px;
    padding-bottom: 60px;
    background-size: 580px, cover;
    background-position: calc((100% - #{$md})/2 + #{$md} - 170px) 100%, center;
  }
}

.roistat__inner {
  position: relative;
  z-index: 1;

  &::before {
    content: url(../images/elements/roistat.png);
    display: block;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    top: -140px;
    left: calc((100% - #{$md})/2 - 140px);

    @include media(msd) {
      transform: scale(0.5);
      top: -130px;
    }

    @include media(mtl) {
      left: -130px;
    }

    @include media(msl) {
      transform: scale(0.4);
      left: unset;
      top: -130px;
      right: -100px;
    }

    @include media(msp) {
      right: -170px;
    }
  }
}

.roistat__number {
  top: 0;
  left: 200px;
  color: #fff;
  background-image: url(../images/num@dark.png);

  &::before {
    background-image: url(../images/circle-num-outer@dark.png);
    width: 125%;
    height: 125%;

    @include media(mtl) {
      width: 122%;
      height: 122%;
    }

  }

  &::after {
    background-image: url(../images/circle-num-inner@dark.png);
    width: 108%;
    height: 108%;

    @include media(mtl) {
      width: 114%;
      height: 114%;
    }
  }

}

.roistat__heading {
  color: #fff;
  margin-bottom: 30px;

  @include media(msd) {
    margin-bottom: 10px;
  }
}

.roistat__content {
  margin-left: 460px;

  @include media(mtl) {
    margin-left: 330px;
  }

  @include media(msl) {
    margin-left: 0;
  }
}

.roistat__dscr {
  max-width: 27em;
  margin-bottom: 40px;

  @include media(msd) {
    max-width: 37em;
    margin-bottom: 15px;
  }
}

.roistat__body {
  margin-bottom: 60px;

  @include media(msd) {
    margin-bottom: 10px;
  }

  @include media(mtl) {
    margin-bottom: 30px;
  }
}

.roistat__result {
  color: #000;
  border-color: #000;
  max-width: 17em;

  &:hover {
    background-color: $colorStyle;
  }
}
