.salesDepartment {
  padding-top: 85px;
  padding-bottom: 130px;
  background-color: $colorStyle;
  background-image: url(../images/bg/bg-sales.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  @include media(msl) {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  &::before {
    content: url(../images/elements/razbor_pistol.png);
    display: block;
    position: absolute;
    pointer-events: none;
    top: -60px;
    right: calc((100% - #{$md})/2 + #{$md} - 140px);

    @include media(msd) {
      transform: scale(0.6);
      top: -230px;
      left: -130px;
      right: unset;
    }

    @include media(mtl) {
      display: none;
    }
  }

  &::after {
    content: url(../images/elements/oboima.png);
    display: block;
    position: absolute;
    pointer-events: none;
    bottom: -80px;
    left: calc((100% - #{$md})/2 + #{$md} - 170px);

    @include media(mtl) {
      display: none;
    }
  }
}

.salesDepartment__inner {
  position: relative;
  padding-left: 30px;
  z-index: 1;

  @include media(mtl) {
    padding-left: 20px;
  }

  @include media(msl) {
    padding-left: 10px;
  }

  &::after {
    content: url(../images/elements/bullets.png);
    display: block;
    position: absolute;
    top: -50px;
    right: -80px;

    @include media(mtl) {
      display: none;
    }
  }
}

.salesDepartment__number {
  top: 310px;
  right: 130px;

  @include media(msd) {
    width: 110px;
    font-size: 40px;
    top: 180px;
    right: 290px;
  }

  @include media(msl) {
    right: 180px;
  }

  @include media(mtp) {
    right: 100px;
  }

  @include media(msl) {
    position: absolute;
    top: 120px !important;
    right: 50px !important;
  }

  @include media(msp) {
    z-index: -1;
    opacity: 0.5;
  }
}

.salesDepartment__heading {
  max-width: 13em;
  margin-bottom: 35px;

  @include media(msd) {
    max-width: 17em;
    margin-bottom: 15px;
  }

  @include media(msl) {
    margin-bottom: 15px;
  }
}

.salesDepartment__dscr {
}

.salesDepartment__body {
  max-width: 27em;
  margin-bottom: 70px;

  @include media(msd) {
    margin-bottom: 30px;
  }

  @include media(mtp) {
    max-width: 20em;
  }

  @include media(msl) {
    margin-bottom: 40px;
  }
}

.salesDepartment__result {
  color: #000;
  border-color: #000;
  max-width: 22.667em;

  &:hover {
    background-color: $colorStyle;
    box-shadow: -2px 5px 7px 5px #000000, 0 0 158px rgba(253, 185, 0, 0.45);
  }
}

.salesDepartment__image {
  position: absolute;
  z-index: -1;
  top: 10px;
  right: -70px;

  @include media(msd) {
    width: 400px;
    right: 150px;
  }

  @include media(mtl) {
    width: 400px;
    top: 10px;
    right: 30px
  }

  @include media(mtp) {
    top: -10px;
    right: -50px;
  }

  @include media(msl) {
    width: 230px;
    top: 70px;
    right: -10px;
  }

  @include media(msp) {
    opacity: 0.6;
  }
}
