.seoAndBlog {
  padding-top: 140px;
  padding-bottom: 120px;
  background-image: url('../images/bg/explotion.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;

  @include media(msd) {
    background-position-x: 0;
  }

  @include media(msl) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  &::after {
    content: url('../images/elements/holder.png');
    display: block;
    pointer-events: none;
    position: absolute;
    top: -170px;
    left: calc((100% - #{$md})/2 + #{$md} + 80px);
  }
}

.seoAndBlog__inner {
  position: relative;
  z-index: 1;

  &::before {
    content: url('../images/elements/redbtn.png');
    display: block;
    position: absolute;
    pointer-events: none;
    top: -80px;
    left: calc((100% - #{$md})/2 - 130px);
    z-index: -1;

    @include media(mtl) {
      left: -130px;
    }

    @include media(mtp) {
      transform: scale(0.7);
      left: -200px;
    }

    @include media(msl) {
      left: unset;
      right: -220px;
      top: -140px;
    }
  }
}

.seoAndBlog__number {
  top: 30px;
  left: 20px;
}

.seoAndBlog__content {
  margin-left: 390px;

  @include media(mtp) {
    margin-left: 220px;
  }

  @include media(msl) {
    margin-left: 0;
  }
}

.seoAndBlog__heading {
  color: $colorStyle;
  margin-bottom: 30px;
}

.seoAndBlog__dscr {
  max-width: 20em;
  margin-bottom: 70px;

  @include media(msd) {
    margin-bottom: 30px;
  }
}

.seoAndBlog__body {
  margin-bottom: 110px;

  @include media(msd) {
    margin-bottom: 70px;
  }

  @include media(msl) {
    margin-bottom: 40px;
  }
}

.seoAndBlog__result {
  width: 17em;
}
