.seriosly {
  padding-top: 95px;
  background-color: hsl(240, 6%, 97%);
  background-image: url(../images/bg/seriosly.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  @include media(msl) {
    padding-top: 45px;
  }
}

.seriosly__inner {
  position: relative;
  padding-left: 30px;

  @include media(mtl) {
    padding-left: 20px;
  }

  @include media(msl) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.seriosly__heading {
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 120px;

  @include media(msd) {
    font-size: 52px;
    margin-bottom: 30px;
    padding-left: 305px;
  }

  @include media(mtl) {
    padding-left: 220px;
  }

  @include media(mtp) {
    font-size: 38px;
  }

  @include media(msl) {
    padding-left: 0;
    font-size: 28px;
  }
}

@mixin shadowText {
  font-size: 62px;
  line-height: 1;
  text-shadow: 0 0 10px #e4e5e5;
  font-style: oblique;
  font-weight: 700;
  color: transparent;
  position: absolute;
  z-index: -1;
  left: 40px;
  white-space: nowrap;

  @include media(msd) {
    font-size: 40px;
    text-shadow: 0 0 2px #e4e5e5;
  }

  @include media(msl) {
    font-size: 20px;
    left: 15px;
  }
}

.seriosly__body {
  font-size: 32px;
  padding-left: 305px;
  line-height: 1.2;
  max-width: 23em;
  margin-bottom: 55px;

  @include media(msd) {
    font-size: 24px;
    max-width: 100%;
    margin-bottom: 30px;
  }

  @include media(mtl) {
    padding-left: 220px;
  }

  @include media(mtp) {
    font-size: 18px;
  }

  @include media(msl) {
    padding-left: 0;
  }

  strong {
    font-weight: 700;
  }

  p {
    position: relative;
    z-index: 1;
    margin-bottom: 1.3em;
  }

  p::before {
    @include shadowText;
    top: -50px;

    @include media(msd) {
      top: -20px;
    }

  }

  p:nth-child(1)::before {
    content: '7 лет';
  }

  p:nth-child(2)::before {
    content: '530 проектов';
  }

  p:nth-child(3)::before {
    content: '13 000 000 000 руб';
  }

  p:nth-child(3)::after {
    @include shadowText;
    content: 'в 2-10 раз больше клиентов';
    bottom: -70px;

    @include media(mtl) {
      bottom: -40px;
    }

    @include media(msl) {
      bottom: -20px;
    }
  }
}

.seriosly__image {
  position: absolute;
  bottom: 34px;
  left: calc((100% - #{$md})/2 - 30px);

  @include media(msd) {
    width: 330px;
    bottom: 22px;
  }

  @include media(mtl) {
    left: 10px;
  }

  @include media(msl) {
    display: none;
  }

  img {
    width: auto;
    max-width: 100%;
  }
}

.seriosly__author {
  background-color: $colorStyle;
  font-size: 18px;
  line-height: 1.333;
  padding: 41px 0;

  @include media(msd) {
    padding: 22px 0;
  }

  @include media(msl) {
    padding-left: 10px;
    padding-right: 10px;
    display: none;
  }
}

.seriosly__name {
  font-weight: 600;
  width: 510px;
  margin-right: auto;
  margin-left: auto;

  @include media(mtp) {
    width: 280px;
  }

  @include media(msl) {
    width: auto;
  }
}

.seriosly__post {
  width: 510px;
  margin-right: auto;
  margin-left: auto;

  @include media(mtp) {
    width: 280px;
  }

  @include media(msl) {
    width: auto;
  }
}

.seriosly__button {
  margin-left: 305px;
  position: relative;
  z-index: 2;
  margin-bottom: 45px;

  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #201e27;
  background-color: $colorStyle;
  border-color: #201e27;

  @include media(msd) {
    font-size: 30px;
  }

  @include media(mtl) {
    margin-left: 220px;
  }

  @include media(msl) {
    margin-left: 0;
    font-size: 20px;
  }
}
