.slider {
}

.slider__list {
  @include listReset;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

.slider__item {
  position: relative;
  overflow: hidden;
  width: 33.3333%;
  display: block !important;

  @include media(mtl) {
    height: 21vw;
  }

  @include media(mtp) {
    height: auto;
  }
}

.slider__text {
  position: absolute;
  top: 20px;
  left: 30px;
  right: 30px;
  color: #fff;
  white-space: normal;
  text-shadow: 0 0 4px #232323;

  @include media(mtp) {
    top: 10px;
    left: 10px;
    right: 10px;
    text-shadow: 1px 2px 3px hsla(0, 0%, 0%, 0.6);
  }

  @include media(msp) {
    display: none;
  }

  &--dark {
    color: $colorText;
    text-shadow: 0 0 4px #fff;
  }
}

.slider__title {
  margin-bottom: 5px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.025px;

  @include media(mtl) {
    font-size: 16px;
  }
}

.slider__dscr {
  font-size: 16px;
  letter-spacing: 0.025em;

  @include media(mtl) {
    font-size: 14px;
  }
}

.slider__image {
  display: flex;
  align-items: center;
  justify-content: center;

  @include media(msd) {
    height: 250px;
  }

  @include media(mtl) {
    height: auto;
  }
}

.slider__arrows {
  display: flex;
  justify-content: center;
}

.slider__arrow {
  margin-right: 10px;
  box-sizing: border-box;
  padding: 10px 0;
  background-image: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  letter-spacing: 0.025em;
  line-height: 1;
  position: relative;
  font-size: inherit;
  display: flex;
  align-items: center;

  &:hover {
    &::after {
      transform: translateX(20px);
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &--prev {
    display: none !important;
  }

  &--next {
    &::after {
      content: url(../images/arrow-slider.png);
      display: block;
      transition-duration: 0.2s;
      margin-left: 30px;

      @include media(msp) {
        left: calc(100% + 20px);
      }
    }

  }
}
