.smm {
  padding-top: 110px;
  padding-bottom: 110px;
  background-image: url(../images/bg/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  @include media(msl) {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.smm__inner {
  position: relative;

  &::after {
    content: url(../images/elements/radar.png);
    display: block;
    position: absolute;
    pointer-events: none;
    top: 140px;
    left: calc((100% - 1170px)/2 + 1170px - 460px);

    @include media(msd) {
      top: 50px;
      left: calc((100% - 1170px)/2 + 1170px - 580px);
    }

    @include media(mtl) {
      transform: scale(0.7);
      left: unset;
      top: -10px;
      right: -170px;
    }

    @include media(mtp) {
      right: -300px;
    }

    @include media(msl) {
      top: -150px;
    }

    @include media(msp) {
      transform: scale(0.4);
      top: -70px;
      right: -340px;
    }
  }
}

.smm__number {
  top: 0;
  right: 0;

  @include media(mtl) {
    top: -40px;
    right: 70px;
  }
}

.smm__heading {
  color: $colorStyle;
  margin-bottom: 40px;

  @include media(msd) {
    margin-bottom: 20px;
  }
}

.smm__dscr {
  max-width: 30em;
  margin-bottom: 60px;

  @include media(msd) {
    margin-bottom: 40px;
  }

  @include media(msl) {
    padding-right: 190px;
  }

  @include media(msp) {
    padding-right: 60px;
  }
}

.smm__body {
  max-width: 39em;

  @include media(msd) {
    margin-bottom: 50px;
  }

  @include media(mtl) {
    max-width: 34em;
  }
}

.smm__result {
  max-width: 20em;
  padding-left: 15px;
  padding-right: 15px;
}
