.stream {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #fff;
  color: #000;
  position: relative;

  @include media(msl) {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  &::before {
    content: url(../images/elements/rackets.png);
    display: block;
    position: absolute;
    pointer-events: none;
    bottom: -30px;
    left: calc((100% - #{$md})/2 - 370px);

    @include media(msd) {
      transform: scale(0.5);
      bottom: -50px;
      left: calc((100% - 1170px)/2 - 190px);
    }

    @include media(mtl) {
      display: none;
    }
  }

  &::after {
    content: url(../images/elements/plane.png);
    display: block;
    position: absolute;
    pointer-events: none;
    bottom: -65px;
    left: calc((100% - #{$md})/2 + #{$md} - 190px);

    @include media(msd) {
      transform: scale(0.5);
      bottom: -175px;
      left: calc((100% - 1170px)/2 + 1170px - 390px);
    }

    @include media(mtl) {
      display: none;
    }
  }
}

.stream__inner {
  position: relative;
  z-index: 1;

  &::before {
    content: url(../images/elements/soc-circle.png);
    display: block;
    position: absolute;
    pointer-events: none;
    top: 110px;
    left: -20px;
    z-index: -1;

    @include media(msd) {
      transform: scale(0.7);
      top: 70px;
      left: 30px;
    }

    @include media(mtl) {
      top: 30px;
      left: -80px;
    }

    @include media(msl) {
      transform: scale(0.4);
      top: -130px;
      left: unset;
      right: -170px;
    }

    @include media(msp) {
      top: -150px;
      right: -180px;
    }
  }
}

.stream__number {
  top: -30px;
  left: -30px;

  @include media(mtl) {
    left: 20px;
  }
}

.stream__heading {
  margin-bottom: 30px;
}

.stream__content {
  margin-left: 470px;

  @include media(mtl) {
    margin-left: 320px;
  }

  @include media(msl) {
    margin-left: 0;
  }
}

.stream__dscr {
  max-width: 26em;
  margin-bottom: 60px;

  @include media(msd) {
    margin-bottom: 30px;
  }
}

.stream__body {
  @include media(msd) {
    margin-bottom: 50px;
  }
}

.stream__result {
  color: #000;
  border-color: #000;
  max-width: 19.333em;
  padding: 7px 10px;
  box-shadow: none;

  &:hover {
    background-color: $colorStyle;
    box-shadow: -2px 5px 7px 5px #000000, 0 0 158px rgba(253, 185, 0, 0.45);
  }
}
