.success {
  padding-top: 50px;
  padding-bottom: 135px;
  background-color: $colorStyle;
  background-image: url(../images/elements/marsel.png);
  background-position: calc((100% - #{$md})/2 + 260px) 0;
  background-repeat: no-repeat;

  @include media(mtl) {
    background-position: -50px 100%;
    background-size: 70%;
  }

  @include media(mtp) {
    padding-top: 30px;
    padding-bottom: 90px;
    background-position-x: -70px;
  }

  @include media(msl) {
    padding-bottom: 50px;
    background-size: 83%;
    background-position-x: -150px;
  }

  @include media(msp) {
    background-position-x: -30px;
    background-size: auto 100%;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-bottom: 60px;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(#000,0.6);
  }
}

.success__inner {
}

.success__heading {
  margin-left: 490px;
  text-shadow: -6px 14px 24px rgba(0, 0, 0, 0.31);
  color: #fff;
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 30px;

  @include media(mtl) {
    font-size: 40px;
    margin-bottom: 10px;
  }

  @include media(mtp) {
    margin-left: 310px;
  }

  @include media(msl) {
    margin-left: 140px;
    font-size: 30px;
  }

  @include media(msp) {
    margin-left: 0;
  }
}

.success__dscr {
  margin-left: 490px;
  font-size: 25px;
  line-height: 1.44;

  @include media(mtl) {
    font-size: 20px;
  }

  @include media(mtp) {
    margin-left: 310px;
  }

  @include media(msl) {
    margin-left: 140px;
    font-size: 16px;
    text-shadow: 0 0 4px #fff;
  }

  @include media(msp) {
    margin-left: 0;
    text-shadow: none;
    color: #fff;
  }

  strong {
    font-weight: 700;
  }
}
