.talks {
  padding-top: 130px;
  padding-bottom: 105px;
  background-image: url(../images/bg/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  z-index: 1;

  @include media(mtl) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @include media(msl) {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  &::after {
    content: url('../images/elements/solider.png');
    display: block;
    position: absolute;
    pointer-events: none;
    bottom: -40px;
    left: calc((100% - #{$md})/2 + #{$md} - 280px);
    z-index: -1;

    @include media(msd) {
      transform: scale(0.8);
      top: -180px;
      left: calc((100% - #{$md})/2 + #{$md} - 440px);
    }

    @include media(mtl) {
      transform: scale(0.6);
      top: -110px;
      left: calc((100% - 1170px)/2 + 1170px - 630px);
    }

    @include media(mtp) {
      display: none;
    }
  }
}

.talks__inner {
  position: relative;
  z-index: 2;

  &::before {
    content: url('../images/elements/radiostanc.png');
    display: block;
    position: absolute;
    pointer-events: none;
    top: 160px;
    left: -40px;
    z-index: -1;

    @include media(mtl) {
      transform: scale(0.7);
    }

    @include media(msl) {
      transform: scale(0.5);
      top: -150px;
      left: unset;
      right: -60px;
    }
  }

}

.talks__number {
  top: 0px;
  left: 30px;
}

.talks__content {
  margin-left: 280px;

  @include media(mtl) {
    margin-left: 200px;
    margin-right: 230px;
  }

  @include media(mtp) {
    margin-right: 0;
  }

  @include media(msl) {
    margin-left: 0;
  }
}

.talks__heading {
  color: $colorStyle;
}

.talks__dscr {
}

.talks__body {
  max-width: 33em;
}

.talks__result {
  width: 18.5em;
}
