.team {
  padding-top: 85px;
  padding-bottom: 65px;
  background-image: url(../images/bg/back-team.jpg);

  @include media(msl) {
    padding-top: 35px;
    padding-bottom: 5px;
  }
}

.team__inner {
  padding: 0 30px;

  @include media(msp) {
    padding: 0 10px;
  }
}

.team__heading {
  font-family: $fontText;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: 0.1em;
  margin-bottom: 90px;

  @include media(msd) {
    font-size: 38px;
    margin-bottom: 40px;
  }

  @include media(msl) {
    font-size: 22px;
    margin-bottom: 40px;
  }

  span {
    display: block;
    color: $colorStyle;
  }
}

.team__list {
  @include listReset;
  display: flex;
  flex-wrap: wrap;
}

.team__item {
  width: 165px;
  margin: 0 10px 90px;

  @include media(msd) {
    margin-bottom: 50px;
  }

  @include media(mtl) {
    lost-column: 1/6 6 60px;
  }

  @include media(mtp) {
    lost-column: 1/5 5 50px;
    margin-bottom: 70px;
  }

  @include media(msl) {
    lost-column: 1/4 4 50px;
    margin-bottom: 50px;
  }

  @include media(msp) {
    lost-column: 1/3 3 40px;
  }
}

.team__link {
  display: block;
  width: 133px;
  height: 133px;
  color: inherit;
  text-decoration: none;
  position: relative;

  @include media(msd) {
    width: 100px;
    height: 100px;
  }

  @include media(mtl) {
    width: 100%;
    height: auto;
  }

  &:hover {
    text-decoration: none;

    .team__image {

      img {
        opacity: 0.3;
      }

    }

    .team__name {
      opacity: 1;
    }

    &::before {
      animation-play-state: running;
    }

    &::after {
      animation-play-state: running;
    }

  }

  &::before,
  &::after {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 128%;
    height: 200%;
    transition-duration: 0.3s;
    pointer-events: none;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    animation-name: rotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    transform-origin: 0 0;
  }

  &::before {
    background-image: url(../images/team-frame-1.png);
  }

  &::after {
    background-image: url(../images/team-frame-2.png);
    animation-direction: reverse;
    animation-duration: 15s;
  }
}

.team__image {
  transition-duration: 0.3s;
  position: relative;
  background-color: #000;
  border-radius: 50%;

  &::after {
    content: '';
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 128%;
    height: 200%;
    transition-duration: 0.3s;
    pointer-events: none;
    background-image: url(../images/team-frame-static.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  img {
    border-radius: 50%;
  }
}

.team__name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $colorStyle;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  opacity: 0;
  transition-duration: 0.3s;
}

.team__post {
  display: none;
}

.team__body {
  display: none;
}