.thankyou {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #fff;

  @include media(msd) {
    padding-top: 60px;
    padding-bottom: 80px;
  }
}

.thankyou__inner {
}

.thankyou__heading {
  font-family: $fontText;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.1em;
  max-width: 35em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;

  @include media(msd) {
    font-size: 20px;
    margin-bottom: 50px;
  }

  strong {
    font-weight: inherit;
    color: $colorStyle;
  }

}

.thankyou__subtitle {
  color: $colorStyle;
  font-family: $fontText;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 50px;

  @include media(msd) {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.thankyou__body {
  font-size: 20px;
  margin-bottom: 80px;

  @include media(msd) {
    font-size: 16px;
    margin-bottom: 50px;
  }

  strong {
    color: $colorStyle;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
  }

}

.thankyou__btnWrp {
  text-align: center;
}

.thankyou__button {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.025em;

  @include media(msd) {
    font-size: 30px;
  }

  @include media(msl) {
    font-size: 20px;
  }
}
