.titer {
  padding-top: 110px;
  padding-bottom: 190px;
  color: #fff;
  background: url("../images/bg/titer-marsel.png") calc(50% - 30px) 40px no-repeat,
  url("../images/elements/shtrihcod.png") calc(100% - 20px) 50px no-repeat,
  url("../images/bg/back_header.jpg") center center/cover no-repeat;

  background-color: $colorBg;

  @include media(msd) {
    padding-top: 20px;

    background: url("../images/bg/titer-marsel.png") calc(50% - 190px) -20px / calc(1546px * 0.7) no-repeat,
    url("../images/elements/shtrihcod.png") calc(100% - 40px) 50px /auto 90% no-repeat,
    url("../images/bg/back_header.jpg") center center/cover no-repeat;
    background-color: $colorBg;
  }

  @include media(mtl) {
    background: url("../images/bg/titer-marsel.png") -130px -20px / calc(1546px * 0.7) no-repeat,
    url("../images/elements/shtrihcod.png") calc(100% - 40px) 50px /auto 90% no-repeat,
    url("../images/bg/back_header.jpg") center center/cover no-repeat;
    background-color: $colorBg;
  }

  @include media(mtp) {
    padding-bottom: 70px;
    background: url("../images/bg/titer-marsel.png") -90px 10px / calc(1546px * 0.5) no-repeat,
    url("../images/elements/shtrihcod.png") calc(100% - 40px) 50px /auto 90% no-repeat,
    url("../images/bg/back_header.jpg") center center/cover no-repeat;
    background-color: $colorBg;
  }

  @include media(msl) {
    background: url("../images/bg/titer-marsel.png") -55px 45px / calc(1546px * 0.3) no-repeat,
    url("../images/elements/shtrihcod.png") calc(100% - 20px) 50px /auto 90% no-repeat,
    url("../images/bg/back_header.jpg") center center/cover no-repeat;
    background-color: $colorBg;
  }

  @include media(msp) {
    margin-bottom: -20px;
    background: url("../images/bg/titer-marsel.png") -45px 110px / calc(1546px * 0.25) no-repeat,
    url("../images/elements/shtrihcod.png") calc(100% - 20px) 50px /auto 90% no-repeat,
    url("../images/bg/back_header.jpg") center center/cover no-repeat;
    background-color: $colorBg;
  }
}

.titer__inner {
  position: relative;
  z-index: 1;

  &::after {
    //content: url("../images/bg/titer.jpg");
    display: block;
    position: absolute;
    pointer-events: none;
    top: -110px;
    left: -400px;
    z-index: -1;

    @include media(msd) {
      transform: scale(0.7);
      top: -210px;
      left: -570px;
    }

    @include media(mtl) {
      left: -550px;
    }

    @include media(mtp) {
      transform: scale(0.5);
      top: -280px;
      left: -660px;
    }

    @include media(msl) {
      transform: scale(0.3);
      top: -340px;
      left: -780px;
    }

    @include media(msp) {
      transform: scale(0.25);
      top: -340px;
      left: -810px;
    }
  }
}

.titer__heading {
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  line-height: 1;
  max-width: 10em;
  margin-bottom: 15px;
  color: inherit;

  @include media(msd) {
    font-size: 120px;
  }

  @include media(mtp) {
    font-size: 75px;
  }

  @include media(msl) {
    font-size: 45px;
    margin-bottom: 20px;
  }

  @include media(msp) {
    font-size: 38px;
  }

  .dyed {
    color: $colorStyle;
    text-shadow: $text-shadow;
  }
}

.titer__upper {
  margin-bottom: 240px;

  @include media(msd) {
    margin-bottom: 170px;
  }

  @include media(mtp) {
    margin-bottom: 130px;
  }

  @include media(msl) {
    margin-bottom: 100px;
  }

  @include media(msp) {
    margin-bottom: 150px;
  }
}

.titer__logo {

  @include media(msd) {
    width: 210px;
  }

  img {
    width: auto;
    max-width: 100%;
  }
}

.titer__body {
  font-size: 35px;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  max-width: 19em;
  font-weight: 600;
  margin-bottom: 60px;

  @include media(msd) {
    font-size: 30px;
    margin-bottom: 40px;
  }

  @include media(msl) {
    font-size: 18px;
    margin-bottom: 30px;
    text-shadow: 0 1px 4px #232323;
  }

  strong {
    font-weight: inherit;
    color: $colorStyle;
  }
}

.titer__button {
}

.titer__director {
  position: absolute;
  bottom: -40px;
  right: 150px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 600;

  @include media(msd) {
    bottom: -20px;
    right: 450px;
  }

  @include media(mtp) {
    right: unset;
    left: 410px;
    bottom: 20px;
  }

  @include media(msl) {
    display: none;
  }
}

.titer__name {
  margin-bottom: 3px;
}

.titer__post {
  position: relative;

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 160px;
    background-color: $colorStyle;
  }
}


// parallax

.titer__prlx {
  position: absolute;

  @include media(mtl) {
    display: none;
  }
}

.titer__prlx--1 {
  top: 270px;
  left: 720px;
}

.titer__prlx--2 {
  top: 480px;
  left: 780px;
}

.titer__prlx--3 {
  top: 440px;
  left: 960px;
}

.titer__prlx--4 {
  top: 570px;
  left: 1070px;
}

.titer__prlx--5 {
  top: 470px;
  left: 1130px;
}
