.twelveSteps {
  background-color: $colorStyle;
  color: #fff;
  overflow: hidden;
}

.twelveSteps__inner {
  padding-top: 240px;
  padding-bottom: 95px;
  position: relative;

  @include media(msd) {
    padding-top: 140px;
  }

  @include media(msl) {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  &::before {
    content: url(../images/elements/asasin-marsel.png);
    display: block;
    position: absolute;
    pointer-events: none;
    bottom: -15px;
    left: -40px;

    @include media(msd) {
      transform: scale(0.8);
      bottom: -90px;
    }

    @include media(mtl) {
      transform: scale(0.6);
      bottom: -160px;
      left: -140px;
    }

    @include media(msl) {
      transform: scale(0.3);
      left: -230px;
      bottom: -270px;
    }

    @include media(msp) {
      transform: scale(0.4);
      left: -255px;
      bottom: -270px;
    }
  }

}

.twelveSteps__number {
}

.twelveSteps__heading {
  text-shadow: -24px 56px 46px rgba(0, 0, 0, 0.63);
  font-size: 150px;
  text-transform: uppercase;
  letter-spacing: 0.0455em;
}

.twelveSteps__textImg {
  margin-left: 490px;
  margin-bottom: -50px;
  position: relative;

  @include media(msd) {
    width: 550px;
  }

  @include media(mtl) {
    width: 400px;
    margin-left: 320px;
  }

  @include media(msl) {
    width: 260px;
    margin-left: 136px;
    margin-bottom: -30px;
  }

  @include media(msp) {
    width: 170px;
    margin-left: 125px;
    margin-bottom: -20px;
  }

  img {
    width: auto;
    max-width: 100%;
  }

  &::after {
    content: url(../images/elements/no-head.png);
    display: block;
    position: absolute;
    pointer-events: none;
    top: -250px;
    right: 180px;

    @include media(msd) {
      transform: scale(0.8);
      top: -260px;
      right: 110px;
    }

    @include media(mtl) {
      transform: scale(0.6);
      top: -280px;
      left: 30px;
    }

    @include media(mtp) {
      top: -280px;
      left: 30px;
    }

    @include media(msl) {
      transform: scale(0.3);
      top: -280px;
      left: 30px;
    }
  }

}

.twelveSteps__dscr {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 560px;

  @include media(msd) {
    margin-left: 545px;
  }

  @include media(mtl) {
    margin-left: 360px;
    font-size: 30px;
  }

  @include media(msl) {
    margin-left: 160px;
    font-size: 20px;
  }

  @include media(msp) {
    margin-left: 142px;
    font-size: 17px;
  }
}

.twelveSteps__body {
}

.twelveSteps__result {
}
