//=========Уже который месяц ловлю себя на мысли, что мой бизнес не приносит мне удовольствия. Утром неохото вылезать из постели, знаю, что ожидает меня на работе. Снова рутина и постоянная нехватка времени ни на что. Занимаюсь только тем: что латаю дыры в своем корабле. Хочу уехать на отдых, но как, все завязано на мне, и я чувствую, что больше не могу...============================
//=grid
//=====================================
@lost flexbox flex;

$mb-resp: 2.463328vw;
$md: 1170px;
$msd: 1400px;
$mtl: 980px;
$mtp: 768px;
$msl: 480px;
$msp: 320px;
//=====================================
//=End of grid
//=====================================

//=====================================
//=variables
//=====================================
$colorStyle: hsl(44, 100%, 50%); // #fdb900
$colorAccent: hsl(8, 100%, 50%); // #ff2400
$colorLink: $colorStyle;
$colorButton: $colorStyle;
$colorText: hsl(0, 0%, 8%);
$colorTitle: $colorText;
$colorBg: hsl(255, 11%, 14%); // #211f27
$colorSliderNav: hsl(52, 20%, 30%);

$fontTitle: 'Russo One', sans-serif;
$fontText: 'Open Sans', sans-serif;
$fontItalic: $fontText;

$shadow: 0 0 20px 0 0 rgba($colorStyle, 0.3);
$text-shadow: 0 0 13px hsla(54, 100%, 50%, 0.65);
$text-shadow-black: 0 0 13px hsla(0, 0%, 0%, 0.65);
$shadow-tab: 0px 7px 16px 0px rgba(93, 89, 62, 0.51);
$shadow-modal: 0px 5px 24px 0px rgba(0, 0, 0, 0.16);
$shadow-image: 3px 4px 21px 0px rgba(0, 0, 0, 0.16);
//=====================================
//=End of variables
//=====================================

//=====================================
//=mixins
//=====================================
@mixin media($break-point) {
  @if $break-point == retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2), /* для Safari, Safari IOS */
    only screen and (min-resolution: 192dpi), /* для IE 10, IE 11, Opera Mini */
    only screen and (min-resolution: 2dppx) {
      @content;
    }
  }
  @if $break-point == md {
    @media screen and (min-width: ($md+100px)) {
      @content;
    }
  }

  @if $break-point == msd {
    @media screen and (max-width: ($msd+-1)) {
      @content;
    }
  }

  @if $break-point == mtl {
    @media screen and (max-width: ($md + 100px)) {
      @content;
    }
  }
  @if $break-point == mtp {
    @media screen and (max-width: ($mtl+-1)) {
      @content;
    }
  }
  @if $break-point == mtp-only {
    @media screen and (max-width: ($mtl+-1px)) and (min-width: $mtp) {
      @content;
    }
  }
  @if $break-point == msl {
    @media screen and (max-width: ($mtp+-1px)) {
      @content;
    }
  }
  @if $break-point == msl-only {
    @media screen and (max-width: ($mtp+-1px)) and (min-width: $msl) {
      @content;
    }
  }
  @if $break-point == msp {
    @media screen and (max-width: ($msl+-1px)) {
      @content;
    }
  }
}

@mixin grid {
  max-width: $md;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

  @include media(mtl) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @include media(msl) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@mixin disable-grid {
  max-width: unset;
  @include media(mtl) {
    padding-right: initial;
    padding-left: initial;
  }
  @include media(msl) {
    padding-right: initial;
    padding-left: initial;
  }
}

@mixin listReset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin numTitle {
  text-align: center;

  .num {
    font-size: 137px;
    line-height: 1;
    display: block;

    @include media(mtl) {
      font-size: 90px;
    }

  }
}

@mixin addBullet {
  position: relative;
  padding-left: 20px;
  margin-bottom: 0.2em;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 11px;
    left: 0;
    width: 12px;
    height: 1px;
    background-color: $colorText;
    @content;
  }
}

@mixin headingResp {
  @include media(mtp) {
    font-size: 40px;
  }

  @include media(msl) {
    font-size: 30px;
  }
}


// button
@mixin button-base {
  text-decoration: none;
  padding: 0;
  cursor: pointer;
  color: hsl(0, 0%, 100%);
  font-size: 28px;
  font-weight: 400;
  background: transparent;
  line-height: 1;
  border: none;

  @include media(msd) {

  }

  @include media(mtl) {
    font-size: 23px;
  }

  @include media(mtp) {
    font-weight: 400;
  }

  @include media(msl) {
    font-size: 16px;
  }

  @include media(msp) {
  }

  &:hover {
    text-decoration: none;
  }

}

@mixin button {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: $colorStyle;
  border: 5px solid $colorStyle;
  box-sizing: border-box;
  font-size: 55px;
  padding: 6px 17px;
  box-shadow: $shadow;
  text-shadow: $text-shadow;
  transition-duration: 0.2s;

  @include media(msd) {
    font-size: 40px;
    border-width: 3px;
  }

  @include media(msl) {
    font-size: 24px;
  }

  &:hover {
    background-color: rgba(#000,0.6);
    color: #fff;
  }
}

@mixin cardWithShadows($mainWrpClass, $contentWrpClass) {
  #{$mainWrpClass} {
    position: relative;
  }
  #{$contentWrpClass} {
    padding: 29px 35px 50px 43px;
    box-shadow: 0 16px 84px hsla(36, 63%, 6%, 0.05);
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    position: relative;
    z-index: 3;
  }

}

//=====================================
//=End of mixins
//=====================================

//=====================================
//=animations
//=====================================
@keyframes target {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0) translate(-50%, -50%);
  }
  50% {
    transform: rotate(180deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}
//=====================================
//=End of animations
//=====================================
