.video {
  padding-top: 110px;
  padding-bottom: 130px;
  color: #fff;
  background-image: url(../images/bg/solders.jpg);
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: cover;

  @include media(mtl) {
    background-position: center;
  }

  @include media(msl) {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  @include media(msp) {
    background-position-x: calc(50% - 130px);
  }
}

.video__inner {
  position: relative;
}

.video__number {
  top: 10px;
  right: 380px;

  @include media(mtp) {
    top: 0px;
    right: 300px;
  }
}

.video__heading {
  color: $colorStyle;
  max-width: 11em;
  margin-bottom: 70px;

  @include media(mtl) {
    margin-bottom: 40px;
  }

  @include media(msl) {
    margin-bottom: 20px;
  }
}

.video__dscr {
}

.video__body {

  @include media(mtl) {
    margin-bottom: 40px;
  }

  @include media(msl) {
    margin-bottom: 20px;
  }
}

.video__result {
  max-width: 27em;
  text-align: left;
}
