.why {
  padding-top: 195px;
  padding-bottom: 85px;
  color: #fff;
  text-align: center;
  //background-image: url(../images/bg/holes.png);
  background-color: $colorBg;
  background-repeat: no-repeat;
  background-position: calc(50% + 50px) calc(50% + 40px);

  @include media(msd) {
    padding-top: 130px;
  }

  @include media(msl) {
    padding-top: 80px;
  }
}

.why__inner {
  position: relative;
  z-index: 1;
}

.why__persons {
  position: relative;
  margin-bottom: -30px;

  @include media(msl) {
    margin-bottom: 20px;
  }

  &::after {
    content: url('../images/krugi.png');
    display: block;
    position: absolute;
    pointer-events: none;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include media(msd) {
      transform: translate(-50%, -50%) scale(0.8);
    }

    @include media(msl) {
      transform: translate(-50%, -50%) scale(0.4);
    }
  }
}

.why__person {
  position: absolute;
  line-height: 1.2;
  letter-spacing: 0.01em;

  @include media(msl) {
    font-size: 14px;
  }

  @include media(msp) {
    font-size: 12px;
  }

  &--marsel {
    top: 15px;
    left: calc(50% - 20px);
    transform: translateX(-50%);
    text-align: center;

    @include media(msl) {
      top: -20px;
    }
  }

  &--timur {
    bottom: 225px;
    right: 240px;

    @include media(mtl) {
      bottom: 200px;
      right: 140px;
    }

    @include media(mtp) {
      bottom: 160px;
      right: 50px;
    }

    @include media(msl) {
      bottom: 80px;
      right: 20px;

      bottom: 40px;
      right: 0px;
    }
  }

  &--dima {
    bottom: 90px;
    left: 245px;
    text-align: right;

    @include media(mtl) {
      bottom: 80px;
      left: 135px;
    }

    @include media(mtp) {
      bottom: 70px;
      left: 75px;
    }

    @include media(msl) {
      bottom: 50px;
      left: 5px;
      bottom: 20px;
      left: -5px;
    }
  }
}

.why__name {
  margin-top: 0;
  margin-bottom: 0;
}

.why__post {
  color: $colorStyle;
  margin-top: 0;
  margin-bottom: 0;
}

.why__heading {
  font-size: 48px;
  font-family: $fontText;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
  margin-bottom: 265px;

  @include headingResp;

  @include media(msl) {
    margin-bottom: 125px;
  }

  span {
    font-weight: 600;
    color: $colorStyle;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
    height: followPointer 2px;
    background-color: hsl(255, 2%, 60%);
  }
}

.why__list {
  @include listReset;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.why__item {
  width: 27%;
  margin-bottom: 60px;

  @include media(msd) {
    margin-bottom: 30px;
  }

  @include media(msl) {
    width: 47%;
    margin-bottom: 70px;
  }

  @include media(msp) {
    margin-bottom: 40px;
  }

  &:nth-child(3n - 1) {
    transform: translateY(-140px);

    @include media(msd) {
      transform: translateY(0);
    }
  }
}

.why__button {
  position: relative;
  margin-top: -35px;

  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.1em;

  @include media(msd) {
    margin-top: 20px;
    font-size: 40px;
  }

  @include media(msl) {
    font-size: 30px;
  }

  &::after {
    content: url('../images/buttons/radio.png');
    display: block;
    position: absolute;
    right: -43px;
    top: -84px;

    @include media(msd) {
      transform: scale(0.8);
      right: -60px;
    }

    @include media(msl) {
      transform: scale(0.6);
      right: -50px;
    }
  }
}

.why__image {
  margin-bottom: -25px;

  @include media(msd) {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  @include media(msl) {
    width: 100%;
  }

  @include media(msp) {
    width: 100%;
  }

  img {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;

    @include media(msp) {
      position: relative;
      left: 50%;
      transform: translateX(calc(-50% + 15px));
      max-width: 640px;
      width: 170%;
    }
  }
}

.why__itemImage {
  margin-bottom: -25px;
  margin-right: auto;
  margin-left: auto;

  @include media(msd) {
    width: 150px;
  }

  @include media(msl) {
    width: 150px;
    height: 180px;
    margin-bottom: -45px;
  }

  img {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }
}

.why__title {
  font-size: 30px;
  text-transform: uppercase;
  color: $colorStyle;

  @include media(msd) {
    font-size: 24px;
  }

  @include media(msp) {
    font-size: 16px;
  }
}

.why__body {
  font-size: 18px;

  @include media(msd) {
    font-size: 16px;
  }

  @include media(msp) {
    font-size: 14px;
  }
}

// holes

.why__hole {
  position: absolute;
  transition-duration: 0.1s;
  z-index: -1;

  @include media(msd) {
  }

  @include media(mtl) {
    display: none;
  }
}

.why__hole--1 {
  top: 20px;
  left: -280px;

  @include media(msd) {
    left: -80px;
  }
}

.why__hole--2 {
  top: 1000px;
  left: -160px;

  @include media(msd) {
    left: 290px;
  }
}

.why__hole--3 {
  top: 230px;
  right: -340px;

  @include media(msd) {
    right: -40px;
  }
}

.why__hole--4 {
  top: 690px;
  right: -230px;

  @include media(msd) {
    right: -125px;
  }
}

.why__hole--5 {
  top: 1460px;
  right: -420px;

  @include media(msd) {
    top: 1170px;
    right: -20px;
  }
}

.hole {
  animation-name: hole;
  animation-iteration-count: 1;
  animation-duration: 0.05s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
}

@keyframes hole {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}