-
  partners = [
  {
    title: 'Сертифицированное агентство',
    image: './files/partners/direct.png'
  },
  {
    title: 'Сертифицированное агентство',
    image: './files/partners/google.png'
  },
  {
    title: 'Бизнес партнер',
    image: './files/partners/rostat.png'
  },
  {
    title: 'Бизнес партнер',
    image: './files/partners/my.png'
  },
  {
    title: 'Официальный партнер по внедрению',
    image: './files/partners/amocrm.png'
  },
  {
    title: 'Специалисты по рекламе',
    image: './files/partners/socs.png'
  }
  ]
  why = [
  {
    title: 'Не пропадаем!',
    image: './files/why/why-01.png',
    body: 'Всегда берем трубки, вовремя отвечаем на письма, доводим до результата'
  },
  {
    title: 'Сроки!',
    image: './files/why/why-02.png',
    body: 'Всегда делаем все вовремя, сдаем проекты и отчеты'
  },
  {
    title: 'Исправляем!',
    image: './files/why/why-03.png',
    body: 'Если вдруг мы где-то все же ошиблись, то все исправим бесплатно'
  },
  {
    title: 'Прозрачно!',
    image: './files/why/why-04.png',
    body: 'Никаких скрытых платежей, все прописывается в договоре'
  },
  {
    title: 'Гарантируем!',
    image: './files/why/why-05.png',
    body: 'Что будем улучшать и улучшать Ваш бизнес'
  },
  {
    title: 'Идеи!',
    image: './files/why/why-06.png',
    body: 'Всегда есть идеи для вашего бизнеса, креативим по-взрослому'
  }
  ]
  goals = [
  {
    title: 'Недвижимость',
    image: './files/goals/gilkomplex.png'
  },
  {
    title: 'Строительство',
    image: './files/goals/stroika.png'
  },
  {
    title: 'Производство',
    image: './files/goals/proizvodstvo.png'
  },
  {
    title: 'Медицина',
    image: './files/goals/medical.png'
  },
  {
    title: 'Услуги ',
    image: './files/goals/uslugi.png'
  },
  {
    title: 'Оптовая продажа',
    image: './files/goals/opt.png'
  },
  {
    title: 'Розничная продажа',
    image: './files/goals/roznica.png'
  },
  {
    title: 'Инфобизнес',
    image: './files/goals/infobusiness.png'
  },
  {
    title: 'Торговые центры',
    image: './files/goals/torgcentr.png'
  },
  {
    title: 'Стартап',
    image: './files/goals/startap.png'
  }
  ]

  team = [
  {
  id: 'egorov',
  image: './files/team/egorov.jpg',
  thumbnail: './files/team/egorov@thumbnail.jpg',
  name: 'Дмитрий Егоров',
  post: 'Эксперт в сфере разработки сайтов',
  body: '<p>Первый сайт сделал в 2009 году. В совершенстве владеет html 5.1 и CSS3. Базовые знания языков JS и PHP. Постоянно развивается в сфере UX/UI и интернет-маркетинге.</p>' +
  '<p>С 2015 года управляющий партнер направления разработки и продвижения сайтов в команде B2B. В подчинении 7 человек.</p>'
  },
  {
  id: 'vavilov',
  image: './files/team/vavilov.jpg',
  thumbnail: './files/team/vavilov@thumbnail.jpg',
  name: 'Тимур Вавилов',
  post: 'Эксперт по выстраиванию продаж',
  body: 'Бизнес-тренер для первых лиц.<br>'+
  'Эксперт по продажам и выстраиванию эффективного отдела продаж. Наставник в проекте GOOGLE и Сбербанк «Бизнес класс».<br>'+
  'Свой первый успешный отдел продаж построил в 2012 году. На сегодняшний день более 60 успешных реализованных проектов.<br>'+
  'Автор методики по мгновенному набору персонала. Основатель авторского курса «Отдел продаж по-Самурайски»'
  },
  {
  id: 'musaev',
  image: './files/team/musaev.jpg',
  thumbnail: './files/team/musaev@thumbnail.jpg',
  name: 'Ильнур Мусаев',
  post: 'Эксперт',
  body: 'Видеооператор, колорист, ведущий дизайнер по спецэффектам и компьютерной графике. Работает по стандартам и презетам таких фирм-производителей кинокамер, как Red. Allexa.Arri. Blackmagic. В совершенстве владеет мануальным контролем камерой на полном кадре и кропе в любых условиях. Вы еще не закончили свою мысль, а он уже видит, как воплотить ее в видео.'
  },
  {
  id: 'kruchkov',
  image: './files/team/kruchkov.jpg',
  thumbnail: './files/team/kruchkov@thumbnail.jpg',
  name: 'Вадим Крючков',
  post: 'Один из лучших режиссеров Татарстана',
  body: 'Потомственный, дипломированный режиссер, который не нуждается в представлении. Тысячи часов отснятых материалов, с великолепным исходным качеством'
  },
  {
  id: 'tutaev',
  image: './files/team/tutaev.jpg',
  thumbnail: './files/team/tutaev@thumbnail.jpg',
  name: 'Сергей Тутаев',
  post: 'Заслуженный звукорежиссер РТ.',
  body: 'Человек с большой буквы, чье имя знают звезды Татарстана и России. Более 20 лет стажа. Имеет идеальный слух.'
  },
  {
  id: 'isakov',
  image: './files/team/isakov.jpg',
  thumbnail: './files/team/isakov@thumbnail.jpg',
  name: 'Евгений Исаков',
  post: 'Креативный директор',
  body: 'Генератор креативных коммерческих идей как для online так и для оффлайн проектов. '
  },
  {
  id: 'kunin',
  image: './files/team/kunin.jpg',
  thumbnail: './files/team/kunin@thumbnail.jpg',
  name: 'Михаил Кунин',
  post: 'Руководитель отдела продаж',
  body: 'Эксперт по привлечению и удержанию клиентов. Опыт работы в продажах более 5 лет.'
  },
  {
  id: 'gayfullin',
  image: './files/team/gayfullin.jpg',
  thumbnail: './files/team/gayfullin@thumbnail.jpg',
  name: 'Айрат Гайфуллин',
  post: 'Эксперт в аналитике',
  body: 'Развивается в рекламе с 2013 года. Выстраивает аналитику по рекламе не по кликам, а продажам. Цифрует клиента от рекламы до заключения договора.'
  },
  {
  id: 'shagiev',
  image: './files/team/shagiev.jpg',
  thumbnail: './files/team/shagiev@thumbnail.jpg',
  name: 'Раис Шагиев',
  post: 'Художник проектов',
  body: ''
  },
  {
  id: 'osokina',
  image: './files/team/osokina.jpg',
  thumbnail: './files/team/osokina@thumbnail.jpg',
  name: 'Кристина Осокина',
  post: 'Контент-менеджер',
  body: 'Поддерживаю группы клиентов и их наполнения (контента), обновление новостной ленты, написание эксклюзивных статей по любой тематике)'
  },
  {
  id: 'spiridonov',
  image: './files/team/spiridonov.jpg',
  thumbnail: './files/team/spiridonov@thumbnail.jpg',
  name: 'Алексей Спиридонов',
  post: 'Фотограф',
  body: 'Профессиональный фотограф, диплом гос. образца.<br>'+
  'Член союза фотографов РТ.<br>'+
  'В портфолио <  100 000 фотографий.'
  },
  {
  id: 'cherepanova',
  image: './files/team/cherepanova.jpg',
  thumbnail: './files/team/cherepanova@thumbnail.jpg',
  name: 'Алёна Черепанова',
  post: 'Руководитель дизайнерского отдела',
  body: 'Дипломированный дизайнер. Нет невозможных задач, любой макет должен привлекать и продавать!<br>'+
  'Отличное знание Photoshop, Illustrator, corel, InDesign, 3D Max'
  },
  {
  id: 'fomina',
  image: './files/team/fomina.jpg',
  thumbnail: './files/team/fomina@thumbnail.jpg',
  name: 'Юлия Фомина',
  post: 'Иллюстратор',
  body: 'Работаю с графическим планшетом в Adobe Photoshop и PainToolSAI, рисую от руки. Быстро адаптируюсь к новым задачам и проектом.<br>'+
  'Рисую в разных стилях. Всегда! Выполняю поставленные задачи в указанные сроки. Без проблем могу перейти от одной тематики рисунка к другой.'
  },
  {
  id: 'kuznizova',
  image: './files/team/kuznizova.jpg',
  thumbnail: './files/team/kuznizova@thumbnail.jpg',
  name: 'Наталья Кузницова',
  post: 'Дизайнер',
  body: 'Квалифицированный дизайнер, владение графическими программами, визуализации, рисунок от руки от стадии эскиза до полной готовности проекта'
  },
  {
  id: 'gubaidulin',
  image: './files/team/gubaidulin.jpg',
  thumbnail: './files/team/gubaidulin@thumbnail.jpg',
  name: 'Ильдар Губайдуллин',
  post: 'IT-специалист',
  body: 'Стратегическое видение развития проектов, бизнес-ориентированный подход, креативный подход к невыполнимым задачам, достижение поставленных целей в переговорах и технических ситуациях.'
  },
  {
  id: 'muratov',
  image: './files/team/muratov.jpg',
  thumbnail: './files/team/muratov@thumbnail.jpg',
  name: 'Руслан Муратов',
  post: 'IT-специалист',
  body: 'Опыт работы в IT более 7 лет — отличное понимание отрасли и специфики организации IT отдела с «нуля», большой и успешный опыт автоматизации и оптимизации IT процессов и модернизации ИТ инфраструктуры.'
  },
  {
  id: 'mitina',
  image: './files/team/mitina.jpg',
  thumbnail: './files/team/mitina@thumbnail.jpg',
  name: 'Агата Митина',
  post: 'Контент-менеджер',
  body: 'Создаю полноценный контент в формате : посты и статьи, аудио , видео, демотиваторы и коллажи. Занимаюсь активным продвижением групп Вконтакте, Facebook, Twitter, YouTube, и др.'
  },
  {
  id: 'mitchenkova',
  image: './files/team/mitchenkova.jpg',
  thumbnail: './files/team/mitchenkova@thumbnail.jpg',
  name: 'Екатерина Митченкова',
  post: 'Контент-менеджер',
  body: 'Поддерживаю также группы в социальных сетях.'
  },
  {
  id: 'gavrilov',
  image: './files/team/gavrilov.jpg',
  thumbnail: './files/team/gavrilov@thumbnail.jpg',
  name: 'Дмитрий Гаврилов',
  post: '2D-художник',
  body: 'Рисую в разных стилях, могу подстроиться под любой стиль.<br>'+
  'Свободно владею Adobe Photoshop, Paint tool SAI.<br>'+
  'Работаю на графическом планшете, также могу рисовать от руки.'
  },
  {
  id: 'romanov',
  image: './files/team/romanov.jpg',
  thumbnail: './files/team/romanov@thumbnail.jpg',
  name: 'Евгений Романов',
  post: 'Дизайнер',
  body: 'Дизайнер, иллюстратор, художник компьютерной графики'
  },
  {
  id: 'teplyakov',
  image: './files/team/teplyakov.jpg',
  thumbnail: './files/team/teplyakov@thumbnail.jpg',
  name: 'Александр Тепляков',
  post: 'Художник аниматор',
  body: 'Опыт работы 9 лет. Рисую концептарты персонажей, локаций, объектов, иконки и т.п. Часто решал задачи по оптимизации графики'
  }
  ]
  slider = [
  {
  title: 'Кубок конфидерации 2017',
  descr: 'Видео',
  image: './files/cases/russian-cup.jpg',
  },
  {
  title: 'Askona',
  descr: 'SMM, Маркетинг, PR',
  image: './files/cases/askona.jpg',
  },
  {
  title: 'Сбербанк',
  descr: 'Вирусный флешмоб',
  image: './files/cases/sber.jpg',
  dark: true,
  },
  {
  title: 'Ситилинк',
  descr: 'PR и SMM-продвижение',
  image: './files/cases/citylink.jpg',
  },
  {
  title: 'Промсвязьбанк',
  descr: 'Интернет-маркетинг',
  image: './files/cases/promsviaz.jpg',
  },
  {
  title: 'Магнит',
  descr: 'Контекстная реклама, Маркетинг, PR, Рассылки',
  image: './files/cases/magnit.jpg',
  },
  {
  title: 'Ситилинк',
  descr: 'PR и SMM-продвижение',
  image: './files/cases/citylink.jpg',
  },
  {
  title: 'Промсвязьбанк',
  descr: 'Интернет-маркетинг',
  image: './files/cases/promsviaz.jpg',
  },
  {
  title: 'Магнит',
  descr: 'Контекстная реклама, Маркетинг, PR, Рассылки',
  image: './files/cases/magnit.jpg',
  }
  ]
  formCheckboxes = [
  {
  id: 'cb-position',
  text: 'Позиционирование'
  },
  {
  id: 'cb-website',
  text: 'Сайт'
  },
  {
  id: 'cb-brand-id',
  text: 'Фирменный стиль (нейминг, логотип, корпоративные материалы)'
  },
  {
  id: 'marketing-kit',
  text: 'Маркетинг-кит'
  },
  {
  id: 'cb-kp',
  text: 'Коммерческое предложение'
  },
  {
  id: 'cb-smm',
  text: 'SMM продвижение'
  },
  {
  id: 'cb-email-marketing',
  text: 'E-mail маркетинг'
  },
  {
  id: 'cb-video',
  text: 'Видео (вирусное, корпоративное)'
  },
  {
  id: 'cb-blog',
  text: 'Ведение Блога'
  },
  {
  id: 'cb-clients-stream',
  text: 'Поток клиентов'
  },
  {
  id: 'cb-crm',
  text: 'CRM Амо и Битрикс'
  },
  {
  id: 'cb-analytics',
  text: 'Аналитика Ройстат'
  },
  {
  id: 'cb-funnels',
  text: 'Автоворонки и мультиворонка'
  },
  {
  id: 'cb-sales-department',
  text: 'Отдел продаж'
  }
  ]
  modalForms = [
  {
  id: 'order',
  text: 'и мы поможем упаковать ваш бизнес'
  },
  {
  id: 'aim-target',
  text: 'и вы перестанете терять свои деньги'
  }
  ]