mixin modal(id)
    +b.modal.white-popup.mfp-hide(id=id class= id ? '-' + id : '')
        +e.inner
            block

mixin modalWithForm(data)
    -
        var exampleData = {
          id: 'business-packing',
          subtitle: 'и мы поможем упаковать ваш бизнес'
        };


    +b('modal', {m: 'business-packing'}, 'section')(id="business-packing" class="mfp-hide")
        - var formId = 'f2';
        +b('form', {e: 'modal'})(action="/thank.php" method="POST")
            +e('weaknesses')
                +e('listTitle', {}, 'h4') Отметьте галочками <span class="dyed">слабые стороны</span> вашей упаковки
                    for i in formCheckboxes
                        +e('item', 'checkbox')
                            +e('checkbox', {}, 'input')(type="checkbox" id=formId + '-' + i.id name=formId + '-' + i.id)
                            +e('label', {}, 'label')(for=formId + '-' + i.id) !{i.text}
            +e('main')
                +e('title', {}, 'h2') Заполните форму
                +e('subtitle', {}, 'p') и мы поможем упаковать ваш бизнес
                    +e('item')
                        +e('label')(for="f2-phone") Телефон
                        +e('input', {}, 'input')(type="tel" id="f2-phone" name="phone")
                    +e('item')
                        +e('label')(for="f2-email") E-mail
                        +e('input', {}, 'input')(type="mail" id="f2-email" name="email")
                    +e('item', {m: 'actions'})
                        +b('button', {e: '&'})(type="submit" ): span Отправить заявку


mixin social(labeled)
    +b.social
        if labeled
            +e.label Мы в социальных сетях:
        +e.items
            +e.item: +e.link.-vk(href="#") vk
            +e.item: +e.link.-inst(href="#") inst
            +e.item: +e.link.-fb(href="#") fb
            +e.item: +e.link.-tw(href="#") tw
            +e.item: +e.link.-ok(href="#") ok

mixin phone
    - var phoneHref = site.phone.replace(/[\ /\(/\)/-]/g,'')
    +b('phone', {e: '&'})(href="tel:" + phoneHref)= site.phone

mixin mail
    +b('mail', {e: '&'})(href="mailto:" + site.mail)= site.mail

// Branding of the site
mixin branding(logo,name,slogan,altLogo)
    +b.branding(href="/")
        if logo
            +e.logo: img(src= altLogo ? site.altLogo : site.logo)
        if (name || slogan)
            +e.nameAndSlogan
                if slogan
                    +e.siteSlogan= site.slogan
                if name
                    +e.siteName= site.name

mixin slider(name,arrows, dots)
    +b.slider(class= name ? "-"+name : "")
        +e.slides(class= name ? "-"+name : "")
            block
        if arrows
            +e.arrows(class= name ? "-"+name : "")
                +e.BUTTON.arrow.-prev <
                +e.BUTTON.arrow.-next >
        if dots
            +e.dots(class= name ? "-"+name : "")
                +e.dot
                +e.dot
                +e.dot

mixin anchor(id)
    +b('anchor', {e: '&'})(id=id)

mixin faq(content)
    // в качестве контента получает json
    +b.UL.faq
        if !content
            div.pug-error +faq: В миксин не передан контент
        else
            for i in content
                +e.item
                    +e.itemInner
                        +e.question !{i.question}
                        //+e.toggle +
                        +e.answer !{i.answer}

mixin form(mod, button)
    +b.FORM.form(class= mod ? mod : '' method="POST" action="/thank.php")
        block
        //+b.fz152
        //    +e.INPUT.checkbox(type="checkbox" checked="checked" value="Согласие на обработку данных" name="fz152" id="fz152")
        //    +e.LABEL.label(for="fz152") Я даю свое согласие на обработку персональных данных и соглашаюсь с <a href="#" target="_blank">политикой конфиденциальности</a>
        +formItem('antispam','','',false, true)
        +e.actions
            +e.BUTTON.submit.button(type="submit"): span=button
        +e.P.text Нажимая на кнопку «Зарегистрироваться», я даю согласие на обработку персональных данных и соглашаюсь c <a href="/policy.pdf" target="_blank">условиями договора-оферты</a> и <a href="/policy.pdf" target="_blank">политикой конфиденциальности</a>

mixin formItem(id, type, placeholder, label, required, hidden)
    -
        var reqBoolean = required && !(required === false) && !(required === 0);
        var reqValue = reqBoolean ? '' : undefined;

    +e.item(hidden= hidden ? hidden : null class= reqBoolean ? '-required' : '')
        case type
            when 'standart'
                +e.LABEL.label(for="input" + id)=label
                +e.INPUT.input(id="input" + id type="text" placeholder=placeholder name="tariff" value="Стандарт")
            when 'vip'
                +e.LABEL.label(for="input" + id)=label
                +e.INPUT.input(id="input" + id type="text" placeholder=placeholder name="tariff" value="VIP")
            when 'pill'
                +e.LABEL.label(for="input" + id)=label
                +e.INPUT.input(id="input" + id type="text" placeholder=placeholder name="tariff" value="Волшебная таблетка")
            when 'text'
                +e.LABEL.label(for="input"+id)=label
                +e.INPUT.input(id="input"+id type="text" placeholder=placeholder required=reqValue)
            when 'name'
                +e.LABEL.label(for="input"+id)=label
                +e.INPUT.input(id="input"+id type="text" placeholder=placeholder name='name1' required=reqValue)
            when 'email'
                +e.LABEL.label(for="input"+id)=label
                +e.INPUT.input(id="input"+id type="email" placeholder=placeholder name='email' required=reqValue)
            when 'antispam'
                +e.LABEL.label(for="input"+id)=label
                +e.INPUT.input(id="input"+id type="email" placeholder=placeholder name='e-mail')
            when 'tel'
                +e.LABEL.label(for="input"+id)=label
                +e.INPUT.input(id="input"+id type="tel" placeholder=placeholder data-phone name='phone' required=reqValue)
            when 'textarea'
                +e.LABEL.label(for="input"+id)=label
                +e.TEXTAREA.textarea(id="input"+id placeholder=placeholder required=reqValue)
