+b('calc')
  +e('client')
    p Как видит клиент:
    +e('main', 'client')
      +e('head')
        +e('colName', 'req') Запрос
        +e('colName', 'order') Заявки
        +e('colName', 'price') Стоимость 1 заявки
      +e('body')
        +e('row', 'text') Впишите цифры для примера
        +e('row')
          +e('label') Купить квартиру
          +e('value', 'order', 'input')(type="number" step="1" min="0" max="999999" value="500" data-fid="1")
          +e('value', 'price', 'input')(type="number" step="1" min="0" max="999999" value="200" data-fid="2")
        +e('row')
          +e('label') Надежный застройщик
          +e('value', 'order', 'input')(type="number" step="1" min="0" max="999999" value="500" data-fid="3")
          +e('value', 'price', 'input')(type="number" step="1" min="0" max="999999" value="200" data-fid="4")
    p Клиент имеет#{' '}
      +e('quantity', {}, 'span') 1000
      span #{' '}заявок#{' '}
      | в месяц.
      br
      | Общий расход:
      br
      +e('amount', {}, 'span') 200000
      span #{' '}руб в день
      | #{' '}за#{' '}
      +e('quantity', {}, 'span') 1000
      | #{' '}заявок.
  +e('we')
    p Как видим мы:
    +e('main', 'we')
      +e('head')
        +e('colName', 'req') Запрос
        +e('colName', 'order') Заявки
        +e('colName', 'price') Стоимость 1 заявки
        +e('colName', 'sales') Продажи
      +e('body')
        +e('row')
          +e('label') Купить квартиру
          +e('value', 'order.noInput')(data-fid="1") 500
          +e('value', 'price.noInput')(data-fid="2") 200
          +e('value', 'salesCount.noInput') 0
        +e('row')
          +e('label') Надежный застройщик
          +e('value', 'order.noInput')(data-fid="3") 500
          +e('value', 'price.noInput')(data-fid="4") 200
          +e('value', 'salesCount.noInput') 10
    p Мы видим, что первый запрос не принес денег и#{' '}
      +e('loss', {}, 'span') 100000
      span #{' '}руб.
      | #{' '}просто#{' '}
      span улетает в трубу.
      br
      | И отключаем ненужные запросы и снижаем расход в 2 раза
