+b('caseFull', {b: 'block'}, 'section')(id="case" class="mfp-hide")
    +e('inner', {e: 'block'})
        +e('logo'): img(src="//placehold.it/150x50")
        +e('companyName') Консалтинговая группа Авангард
        +e('heading', {e: 'block'}, 'h2') Развили компанию до федерального уровня
        +e('dscr', {e: 'block'})
            ul
                li <strong>увеличили</strong> чистую <strong>прибыль</strong> в 7 раз
                li <strong>снизили издержки</strong> в 4 раза
                li <strong>снизили стоимость</strong> заявки с 4500 руб <strong>до 650 руб</strong>
                li <strong>создали</strong> отдел автоматизированный, многоуровневый продаж <strong>+ 65% к конверсии</strong>
                li и <strong>еще 2 года</strong> непрерывного <strong>улучшения</strong>
        // caseStats
        +b('caseStats', {e: '&'})
            +e('achievement')(data-bar-position="70")
                +e('title') Заявки
                +e('row')
                    +e('label') Было:
                    +e('barWrp')
                        +e('text', {}, 'div') 50/меc.
                        +e('bar')(data-bar-position="10") 10%
                +e('row', 'result')
                    +e('label') Стало:
                    +e('barWrp')
                        +e('text', {}, 'div') 650/меc.
                        +e('bar', 'dyed') 70%

            +e('achievement')(data-bar-position="20")
                +e('title') Стоимость заявки
                +e('row')
                    +e('label') Было:
                    +e('barWrp')
                        +e('text', {}, 'div') 4500 руб/мес.
                        +e('bar') 100%
                +e('row', 'result')
                    +e('label') Стало:
                    +e('barWrp')
                        +e('text', {}, 'div') 600 руб/мес.
                        +e('bar', 'dyed') 20%

            +e('achievement')(data-bar-position="15")
                +e('title') Отдел продаж
                +e('row')
                    +e('label') Было:
                    +e('barWrp')
                        +e('text', {}, 'div') 5 сотрудников
                        +e('bar') 15%
                +e('row', 'result')
                    +e('label') Стало:
                    +e('barWrp')
                        +e('text', {}, 'div') 15 сотрудников
                        +e('bar', 'dyed') 100%

            +e('achievement')(data-bar-position="3")
                +e('title') SEO
                +e('row')
                    +e('label') Было:
                    +e('barWrp')
                        +e('text', {}, 'div') 1 город
                        +e('bar') 3%
                +e('row', 'result')
                    +e('label') Стало:
                    +e('barWrp')
                        +e('text', {}, 'div') 170 городов
                        +e('bar', 'dyed') 100%

            +e('achievement')(data-bar-position="30")
                +e('title') Поток на сайт в первый месяц
                +e('row')
                    +e('label') Было:
                    +e('barWrp')
                        +e('text', {}, 'div') 12000
                        +e('bar') 40%
                +e('row', 'result')
                    +e('label') Стало:
                    +e('barWrp')
                        +e('text', {}, 'div') 21000 при том же бюджете
                        +e('bar', 'dyed') 80%

            +e('achievement')(data-bar-position="10")
                +e('title') Соц.сети
                +e('row')
                    +e('label') Было:
                    +e('barWrp')
                        +e('text', {}, 'div') ВК 500 чел.
                        +e('bar') 10%
                +e('row', 'result')
                    +e('label') Стало:
                    +e('barWrp')
                        +e('text', {}, 'div') 47 000 чел. / 11 групп
                        +e('bar', 'dyed') 95%

            +e('achievement')(data-bar-position="0")
                +e('title') Инстаграм
                +e('row')
                    +e('label') Было:
                    +e('barWrp')
                        +e('text', {}, 'div') 0
                        +e('bar') 3%
                +e('row', 'result')
                    +e('label') Стало:
                    +e('barWrp')
                        +e('text', {}, 'div') 20 000 лучший по дизайну в РФ в 2017 г
                        +e('bar', 'dyed') 100%

            +e('achievement')(data-bar-position="3")
                +e('title') E-mail
                +e('row')
                    +e('label') Было:
                    +e('barWrp')
                        +e('text', {}, 'div') 3500 писем в месяц доставленно
                        +e('bar', 'dyed') 3%
                +e('row', 'result')
                    +e('label') Стало:
                    +e('barWrp')
                        +e('text', {}, 'div') 50 000 писем в месяц доставленно
                        +e('bar', 'dyed') 100%

            +e('achievement')
                +e('title') CRM
                +e('row', 'noBars')
                    +e('label') Было:
                    +e('text','noBars', 'div') Элма-CRM, которая глючила постоянно
                +e('row', 'result')
                    +e('label') Стало:
                    +e('text', 'noBars', 'div') Внедрили АМО-CRM, которая контролирует всех менеджеров
        //caseAbout
        +b('caseAbout', {e: '&'})
            +e('col', 'info')
                +e('chief')
                    +e('photo'): img(src="./files/case/chief.png" alt="")
                    +e('chiefText')
                        +e('name') Полиграф Полиграфыч Полиграфович
                        +e('post') Директор<br> консалтинговая группа Авангард
                +e('btnWrp')
                    +e('btnText') Хотите лучше?
                    +b('button', {e: '&'}, 'a')(href="#order" data-popup) Поехали!
            +e('col', 'body')
                +e('body')
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                    p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

