extend ../layout/layout.pug

block vars
  - var body_classes = ['front','no-sidebar'];
  - var title = 'Увеличиваем поток клиентов в 2-10 раз всего за 1 месяц'

block content
  // titer
  +b('titer', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('upper')
        +e('logo'): img(src="./files/logo.png")
      +e('heading', {e: 'block'}, 'h1')
        span.visually-hidden Убойный
        span.dyed трафик
      +e('body') <strong>Увеличиваем</strong> поток клиентов <strong>в 2-10 раз</strong> всего за <strong>1 месяц </strong>
      +b('button', {e: '&'})(href="#order" data-popup) Заказать
      +e('director')
        +e('name') Марсель Ахмедов
        +e('post') Генеральный директор
      +e('prlx', '1')(data-parallax data-rellax-speed="4"): img(src="./images/prlx/titer-gilzi-1.png" alt="")
      +e('prlx', '2')(data-parallax data-rellax-speed="2"): img(src="./images/prlx/titer-gilzi-2.png" alt="")
      +e('prlx', '3')(data-parallax data-rellax-speed="3"): img(src="./images/prlx/titer-gilzi-3.png" alt="")
      +e('prlx', '4')(data-parallax data-rellax-speed="2"): img(src="./images/prlx/titer-gilzi-4.png" alt="")
      +e('prlx', '5')(data-parallax data-rellax-speed="1"): img(src="./images/prlx/titer-gilzi-5.png" alt="")



  // partners
  +b('partners', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('heading', {e: 'block'}, 'h2') Официальные
        strong  партнеры
      +e('dscr', {e: 'block'}, 'p') Объединяем звонки, аналитику, заявки и отдел продаж.<br>Помогает захватить рынок и стать на нём единственным экспертом
      +e('list', '', 'ul')
        for i in partners
          +e('item')
            +e('title', '', 'div') !{i.title}
            +e('image', '', 'div'): img(src=i.image alt="")
    +e('prlx', '1')(data-parallax data-rellax-speed="2" data-rellax-percentage="0.5"): img(src="./images/prlx/gilzy-1.png" alt="")
    +e('prlx', '2')(data-parallax data-rellax-speed="5" data-rellax-percentage="0.5"): img(src="./images/prlx/gilzy-2.png" alt="")
    +e('prlx', '3')(data-parallax data-rellax-speed="1" data-rellax-percentage="0.5"): img(src="./images/prlx/gilzy-3.png" alt="")
    +e('prlx', '4')(data-parallax data-rellax-speed="2" data-rellax-percentage="0.5"): img(src="./images/prlx/gilzy-4.png" alt="")
    +e('prlx', '5')(data-parallax data-rellax-speed="4" data-rellax-percentage="0.5"): img(src="./images/prlx/gilzy-5.png" alt="")
    +e('prlx', '6')(data-parallax data-rellax-speed="3" data-rellax-percentage="0.5"): img(src="./images/prlx/gilzy-6.png" alt="")
    +e('prlx', '7')(data-parallax data-rellax-speed="6" data-rellax-percentage="0.5"): img(src="./images/prlx/gilzy-7.png" alt="")


  // why
  +b('why', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('persons')
        +e('image'): img(src="./files/team-why.png")
        +e('person', 'marsel')
          +e('name', '', 'p') Марсель Ахмедов
          +e('post', '', 'p') Маркетинг
        +e('person', 'timur')
          +e('name', '', 'p') Тимур Вавилов
          +e('post', '', 'p') Отдел продаж
        +e('person', 'dima')
          +e('name', '', 'p') Дмитрий Егоров
          +e('post', '', 'p') Программирование
      +e('heading', {e: 'block'}, 'h2') Почему
        span  мы?
      +e('list', '', 'ul')
        for i in why
          +e('item')
            +e('itemImage', '', 'div'): img(src=i.image)
            +e('title', '', 'div') !{i.title}
            +e('body', '', 'div') !{i.body}
      +b('button', {e: '&', m: 'smaller'}, 'a')(href="#order" data-popup) Связаться
      +e('hole', '1'): img(src="./images/prlx/holes-1.png" alt="")
      +e('hole', '2'): img(src="./images/prlx/holes-2.png" alt="")
      +e('hole', '3'): img(src="./images/prlx/holes-3.png" alt="")
      +e('hole', '4'): img(src="./images/prlx/holes-4.png" alt="")
      +e('hole', '5'): img(src="./images/prlx/holes-1.png" alt="")


  // goals
  +b('goals', {b: 'block'}, 'section')
    +anchor('anchor-goals')
    +e('inner', {e: 'block'})
      +e('heading', {e: 'block'}, 'h2')
        span 10 бизнес–целей,
        | <br>для которых можем
        span  увеличить
        | <br>поток
        span  клиентов х2
      +e('main')
        +e('body') Если все сделать правильно, то чистая прибыль может вырасти минимум в 2 раза
        +b('button', {e: '&', m: 'smaller'}, 'button') Прицелиться
        +e('aim')
        +e('list', '', 'ul')
          for i, index in goals
            +e('item')(data-popup data-mfp-src="#aim-target")
              +e('image', '', 'div'): img(src=i.image alt="")
              +e('text', '', 'div')
                +e('num', '', 'div')= index + 1 < 10 ? '0' + (index + 1).toString() : index + 1
                +e('title', '', 'div') !{i.title}
      +e('prlx', '1')(data-parallax data-rellax-speed="4" data-rellax-percentage="0.5"): img(src="./images/prlx/gilzy-strea-1.png" alt="")
      +e('prlx', '2')(data-parallax data-rellax-speed="3" data-rellax-percentage="0.5"): img(src="./images/prlx/gilzy-strea-2.png" alt="")
      +e('prlx', '3')(data-parallax data-rellax-speed="2" data-rellax-percentage="0.5"): img(src="./images/prlx/gilzy-strea-3.png" alt="")
      +e('prlx', '4')(data-parallax data-rellax-speed="2" data-rellax-percentage="0.5"): img(src="./images/prlx/gilzy-strea-4.png" alt="")


  // twelveSteps
  +b('twelveSteps', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('heading', {e: 'block'}, 'h2')(class="visually-hidden") 12 шагов
      +e('textImg'): img(src="./files/12-steps.png" alt)
      +e('dscr', {e: 'block'}, 'p') к постоянному трафику


  // talks
  +b('talks', {b: 'block|step'}, 'section')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 01
      +e('content', {e: 'block'})
        +e('heading', {e: 'block|step'}, 'h2') Переговоры
        +e('dscr', {e: 'block|step'}, 'p') Проводим переговоры, выясняем:
        +e('body', {e: 'block|step'})
          ol
            li точно ли вам нужен поток клиентов
            li (зачастую клиент просто не сможет предоставить качественное обслуживание, если мы увеличим поток в х2 или х3 раза)
            li определяем четкие задачи по продвижению
            li рисуем типаж вашего клиента
            li каких конкурентов нужно догнать или обогнать
            li обсуждаем каналы продвижения. У нас их более 65 методов, а сколько подходят Вам?
        +e('result', {e: 'block'})(href="#order" data-popup) Понимаем, что вам нужно и сможем ли мы решить задачи



  // research
  +b('research', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 02
      +e('content', {e: 'block'})
        +e('heading', {e: 'block|step'}, 'h2')(class="visually-hidden") Исследуем
        +e('dscr', {e: 'block|step'}, 'p') Проверим абсолютно все точки контакта, на понятном языке объясняем причины плохих продаж
        +e('image', {e: 'block'}): img(src="./files/steps/dima.png" alt="")
        +e('body', {e: 'block'})
          ol
            li исследуем ваш бизнес
            li анализируем до 50 конкурентов
            li найдем  ошибки на сайте,
            li проверим рекламу, проследим куда уходят от вас клиенты и найдем почему
            li проверим ваши рекламные материалы, КП, Маркетинг-киты
            li проанализируем SEO выдачу
            li аудит отдела продаж
            li подключим аналитику
        +e('result', {e: 'block'})(href="#order" data-popup) После полученных данных разрабатываем прибыльную  стратегию интернет‑маркетинга


  // correct
  +b('correct', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 03
      +e('content', {e: 'block|step'})
        +e('heading', {e: 'block|step'}, 'h2') Исправляем
        +e('dscr', {e: 'block|step'}, 'p') Иногда достаточно написать заголовок или изменить сайт, чтобы увеличить конверсию минимум на 50%
        +e('body', {e: 'block'})
          ol
            li Создаем сильные посадочные страницы
            li Внедряем инструменты “Доверительного маркетинга”
            li Дизайнерские КП и маркетинг-киты
            li Классные соц.сети
        +e('result', {e: 'block'})(href="#order" data-popup) Вам будут больше доверять если мы сделаем современный дизайн.  Мы смотрим совершенно иным взглядом на все вопросы, можем предложить не замыленное решение вопросов.




  // stream
  +b('stream', {b: 'block'}, 'section')
    +anchor('anchor-campaign')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 04
      +e('content', {e: 'block'})
        +e('heading', {e: 'block|step'}, 'h2') Включаем поток. Контекстная реклама
        +e('dscr', {e: 'block|step'}, 'p') У Вас появляется постоянный спрос 24/7 уже через 3 дня
        +e('body', {e: 'block'})
          ol
            li показываем ваш бизнес только тем, кто реально думает о покупке
            li забираем клиентов у ваших конкурентов
            li заявки уже на следующий день запуска
            li снижаем стоимость заявки в 2-3 раза
            li постоянно оптимизируем рекламные кампании, тестируя множество сочетаний объявлений и CTR и конверсии
            li снижаем ежемесячно издержки на рекламу.
        +e('result', {e: 'block'})(href="#order" data-popup) Затраты на рекламу отбиваются. Приносим уже прибыль в компанию. Вы получаете еще больше заявок.



  // smm
  +b('smm', {b: 'block'}, 'section')
    +anchor('anchor-social')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 05
      +e('content', {e: 'block'})
        +e('heading', {e: 'block|step'}, 'h2') SMM
        +e('dscr', {e: 'block|step'}, 'p') Находим вашу целевую аудиторию во всех социальных сетях
        +e('body', {e: 'block'})
          ol
            li проверяем страницы в ВКонтакте, Facebook, instagram, Одноклассники.
            li проводим аудит таргетированной  и медийной рекламы
            li погружаемся в бизнес, формируем образы потенциальных покупателей
            li разработаем креативные, завлекающие  посты
            li настраиваем таргетированную рекламу на потенциального клиента, ретаргетинг, ремаркетинг, локальная реклама
            li пропишем дальнейшую стратегию продвижения
            li контент-план развлекающие посты, шутки, полезное, интересное, отзывы, вопросы, продающие и дизайнерские посты
        +e('result', {e: 'block'})(href="#order" data-popup) Дизайнерские соц.сети больше нравятся людям и вызывают доверие


  // seoAndBlog
  +b('seoAndBlog', {b: 'block'}, 'section')
    +anchor('anchor-seo')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 06
      +e('content', {e: 'block'})
        +e('heading', {e: 'block|step'}, 'h2') SEO и Блог
        +e('dscr', {e: 'block|step'}, 'p') или как захватить рынок своей экспертностью
        +e('body', {e: 'block'})
          ol
            li находим все технические ошибки, сбои и устраняем их
            li проверяем семантическое ядро (на русском понятном - это проверка всех запросов
            li оптимизация сайта (это страшное слово, включает в себя комплекс мер для того чтобы поисковики знали по каким запросам выводить ваш сайт и для каких пользователей)
            li юзабилити (говоря на русском “Анализируем поведение человека на сайте и делаем сайт интересным для людей)
            li увеличиваем естественную посещаемость сайта в 2-10 раз
        +e('result', {e: 'block'})(href="#order" data-popup) Сила SEO в том - даже если вы отключаете всю рекламы. Поток заявок не остановится


  // success
  +b('success', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('heading', {e: 'block'}, 'h2') Успех <br>не за горами!
      +e('dscr', {e: 'block'}, 'p') Мы очень ценим, что вы добрались до середины сайта, ниже будет не менее интересно. Вы на верном пути к <strong>увеличению</strong> трафика <strong>в 2 раза</strong>


  // crm
  +b('crm', {b: 'block'}, 'section')
    +anchor('anchor-crm')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 07
      +e('heading', {e: 'block|step'}, 'h2') CRM Амо или битрикс
      +e('dscr', {e: 'block|step'}, 'p') Внедряем контроль заявок и продаж, за счет этого Увеличиваем эффективность на 170%
      +e('body', {e: 'block'})
        ol
          li наводим порядок в бардаке отдела продаж и хаосе заявок
          li контролируем, чтобы каждая заявка была отработана
          li автоматизируем десятки бизнес процессов и отделов
          li вы сможете контролировать всю ситуацию по бизнесу с мобильного из любой точки мира
          li настройка телефонии
      +e('result', {e: 'block'})(href="#order" data-popup) Зачастую менеджеры имитируют работу, после внедрения системы эффективности увеличивается в разы


  // roistat
  +b('roistat', {b: 'block'}, 'section')
    +anchor('anchor-analytics')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 08
      +e('content', {e: 'block'})
        +e('heading', {e: 'block|step'}, 'h2') Ройстат
        +e('dscr', {e: 'block|step'}, 'p') Внедряем инструмент современности Данная система позволит отследить с каких запросов у вас покупают!
        +e('body', {e: 'block'})
          ol
            li Call Tracking мы должны знать откуда приходят клиенты в ваш
            li Все цифры на 1 экране:
            li Продажи, поток клиентов, выручка, прибыль, слив.
      include ../components/calc
      //+e('images')
      //  +e('your')
      //    p Как видит клиент:
      //    img(src="./files/roi-img-1.png" alt="")
      //    p Клиент имеет <span>1000 заявок</span> в месяц.<br>Общий расход:<br><span>200 000 руб в день</span> за 1000 заявок.
      //  +e('me')
      //    p Как видм мы:
      //    img(src="./files/roi-img-2.png" alt="")
      //    p Мы видим, что первый запрос не принес денег и  <span>100 000 руб.</span> просто <span>улетает в трубу.</span><br>И отключаем ненужные запросы и снижаем расход в 2 раза
      +e('result', {e: 'block'})(href="#order" data-popup) Ройстат позволят сократить расходы на рекламу в 2-4 раза



  // control
  +b('control', {b: 'block'}, 'section')
    +anchor('anchor-workers')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 09
      +e('heading', {e: 'block|step'}, 'h2') Контролируем работу всех менеджеров компании
      +e('dscr', {e: 'block|step'}, 'p') Увеличиваем продуктивность на работе от 70%
      +e('body', {e: 'block'})
        ol
          li узнаем сколько времени проводят менеджеры в соц.сетях
          li отключим сторонние сайты, которые мешают работе.
          li менеджеры будут знать, что их время контролируют и будут больше времени посвящать работе
      +e('result', {e: 'block'})(href="#order" data-popup) Теперь менеджеры будут работать на 100%, зная, что за ними следят



  // emailAndSms
  +b('emailAndSms', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 10
      +e('content', {e: 'block'})
        +e('heading', {e: 'block|step'}, 'h2') Автоматизированая E-mаil и СМС воронка
        +e('dscr', {e: 'block|step'}, 'p') Кто-то скажет “Спам”, а мы знаем, что e-mail-рассылка работает
        +e('body', {e: 'block'})
          ol
            li создаем письма
            li отслеживаем открытые письма
            li завлекаем остывшую аудиторию
            li полностью автоматизированная рассылка
        +e('result', {e: 'block'})(href="#order" data-popup) Письма, которые работают и умудряются продавать


  // video
  +b('video', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 11
      +e('heading', {e: 'block|step'}, 'h2') Снимаем видео продающее или вирусное
      +e('body', {e: 'block|step'})
        ol
          li корпоративное видео, от которого не засыпают
          li вирусное видео, которым делятся с другими
          li анимация, которая действительно продает
      +e('result', {e: 'block'})(href="#order" data-popup) Мы уже сняли видео, которое посмотрело 20 000 000 человек за 10 дней и были на первом канале у Малахова, вряд ли другие агентства могут этим гордится


  // salesDepartment
  +b('salesDepartment', {b: 'block'}, 'section')
    +anchor('anchor-sales')
    +e('inner', {e: 'block'})
      +e('number', {e: 'block'}) 12
      +e('heading', {e: 'block|step'}, 'h2') Отдел продаж, который продает страстно
      +e('body', {e: 'block|step'})
        ol
          li быстрый набор персонала
          li разработка мотивации сотрудников
          li обучение персонала
          li автоматизация отдела продаж
          li повышаем эффективность менеджеров в 2 раза
          li чувственные и душевные скрипты
          li посчитаем сколько вы теряете из-за ленивых продавцов
      +e('result', {e: 'block'})(href="#order" data-popup) Сделаем отчет где будут ошибки продавцов в их переговорах с клиентами. Посоветуем, как все исправить
      +e('image'): img(src="./files/steps/sales.png " alt="")


  // seriosly
  +b('seriosly', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('heading', {e: 'block'}, 'h2') А теперь серьезно
      +e('body')
        p Мы уже больше <strong>7 лет</strong> на рынке и сделали больше <strong>530 проектов.</strong>
        p В деньгах принесли клиентам более <strong>13 000 000 000 руб.</strong>
        p На рынке 90% компаний подходят к задаче стандартно и получают низкий результат, а если подходит комплексно и креативно, то можно получить результат, который <strong>принесет в 2-10 раз больше клиентов.</strong>
      +b('button', {e: '&'}, 'a')(href="#order" data-popup) Заказать трафик
    +e('author')
      +e('name') Марсель Ахмедов
      +e('post') Генеральный директор
    +e('image')
      img(src="./files/marsel-seriosly.png" alt="")


  // team
  +b('team', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('heading', {e: 'block'}, 'h2') Команда экспертов
        span решит множество ваших задач
      +e('list', {}, 'ul')
        for i in team
          +e('item')
            +e('link')(href="#" + i.id data-popup)
              +e('image', {}, 'div'): img(src=i.thumbnail)
              +e('name', {}, 'div') !{i.name}



  // clientsStream
  +b('clientsStream', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('content')
        +e('body') В вашем бизнесе должен быть такой поток клиентов, чтобы отдел продаж не успевал их отрабатывать
        +b('button', {e: '&', m: 'smaller'}, 'a')(href="#order" data-popup) Создать поток


  // cases
  +b('cases', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('header', {}, 'header')
        +e('heading', {e: 'block'}, 'h2')(class="visually-hidden") Наши кейсы
    +b('slider', {e: '&'})
      +e('listTop')
        for i in slider
          +e('item')(href="#case" data-popup-case)
            +e('text', {m: i.dark ? 'dark' : ''}, 'div')
              +e('title', {}, 'div') !{i.title}
              +e('dscr', {}, 'div') !{i.descr}
            +e('image', {}, 'div'): img(src=i.image)
    +e('footer')
      +e('arrows', {e: 'slider'})
        +e('arrow', {m: 'prev', p: 'slider'}, 'button') назад
        +e('arrow', {m: 'next', p: 'slider'}, 'button') следующие кейсы



  // questionsList
  +b('questionsList', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('form')
        include ../components/form


  // thankyou
  +b('thankyou', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('heading', {e: 'block'}, 'h2') Спасибо, что посмотрели наш сайт, Вам явно значит <strong>нужно увеличить поток клиентов</strong>, а нам кейсы, которыми мы можем гордится!
      +e('subtitle', '', 'h3') Чем именно мы занимаемся:
      +e('body')
        p Многократно <a href="#" data-scroll>увеличиваем трафик</a> на сайт, приводим <a href="#anchor-goals" data-scroll>x2 раза</a> больше клиентов, профессионально <a href="#anchor-campaign" data-scroll>настраиваем кампанию</a>, снижает бюджеты на рекламу с помощью <a href="#anchor-analytics" data-scroll>аналитики</a>. Найдем ваших клиентов <a href="#anchor-social" data-scroll>в социальных сетях</a>. Раскручиваем сайт <a href="#anchor-seo" data-scroll>естественными SEO способом</a>, ведем личный блог компании, который приятно читать.
        p Контролируем качество <a href="#anchor-crm" data-scroll>заявок CRM</a>, с помощью <a href="#anchor-analytics" data-scroll>ройстат</a> находим запросы с которых у вас покупают, усиливаем их. Даже <a href="#anchor-workers" data-scroll>контролируем ваших сотрудников</a>, знаем на каких сайтах они тратят время. Снимаем вирусные видео
        p Поток клиентов - круто! Но привлеченного клиента может уничтожить <a href="#anchor-sales" data-scroll>отдел продаж</a> не осмотрительностью беседой, плохой отработкой, неосведомленностью или просто игнорированием заявки. Создаем профессионалов в отделе продаж.
      +e('btnWrp')
        +b('button', {e: '&'}, 'a')(href="#order" data-popup) Хочу увеличить трафик!


  // footer
  +b('footer', {b: 'block'}, 'section')
    +e('inner', {e: 'block'})
      +e('copyright') 2018 г. B2B All rights reversed ©
      +e('policy')(href="/policy.pdf") Политика конфиденциальности
      //+e('phone')
      //  +phone

block under-footer
  include ../components/modals
  include ../components/team-modal
  include ../components/case

