doctype html

include ../../../node_modules/bempug/index
include ../base/mixins
include ../base/content

-
    var body_classes = ['front','no-sidebar'];
    var site = {
    phone: '8 800 707-95-97',
    mail: 'info@gmail.ru',
    name: 'Убойный трафик',
    slogan: 'Уникальный мастер-класс по продажам и маркетингу',
    logo: './files/logo.png',
    altLogo: './files/logo.png',
    placeAndDate: 'Казань, 17 июля в 19:00'
    };
    var css = './css/styles.css';
    var js = './js/app.js';

block vars

head
    title !{site.name} | #{title}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

    meta(property="og:image" content="/files/og-image.jpg")
    meta(property="og:image:width" content="1191")
    meta(property="og:image:height" content="1786")
    meta(property="og:url" content="https://lom.bz/")
    meta(property="og:description" content="Поможем увеличить прибыль вашего бизнеса за счет привлечения правильного трафика.")
    meta(property="og:title" content="Увеличиваем поток клиентов в 2-10 раз всего за 1 месяц")

    link(rel="apple-touch-icon" sizes="180x180" href="/files/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/files/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/files/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/files/safari-pinned-tab.svg" color="#f7a14b")
    link(rel="shortcut icon" href="/files/favicon.ico")
    meta(name="msapplication-TileColor" content="#101318")
    meta(name="msapplication-config" content="/browserconfig.xml")
    meta(name="theme-color" content="#ffffff")
    link(rel="stylesheet" href=css)


html(prefix="og: http://ogp.me/ns#")
    body(class=body_classes)
        .layout-content
            .main.page-content
                block content

                if body_classes.indexOf('sidebar') != -1
                    aside.layout-sidebar-first
                        .region.region-sidebar-first
                            .region-inner
                                block sidebar

        block under-footer
        script(type="text/javascript" src=js)
